force-app/main/default/flows/Add_Conditions_Exclusions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_Condition_to_Formula</name>
        <label>Add Condition to Formula</label>
        <locationX>182</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>tempAttachCondition</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Condition_Exclusion_Detail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Oppty_Line_Item_Conditions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Conditions</name>
        <label>Add to Conditions</label>
        <locationX>666</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>recordinputOpptyLineItem.Conditions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>concatLinesofConditions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Line_Item_mult</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Formula</name>
        <label>Add to Formula</label>
        <locationX>666</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>tempAttachCondition</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_Selected_Condition.Condition_Detail__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Conditions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Oppty_Line_Item_Conditions</name>
        <label>Add to Oppty Line Item Conditions</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>recordinputOpptyLineItem.Conditions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>concatLinesofConditions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Line_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Edit_Conditions</name>
        <label>Edit Conditions</label>
        <locationX>380</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>recordinputOpptyLineItem.Conditions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Edit_Conditions_Exclusions_Here</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Conditions</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Add_or_Select</name>
        <label>Add or Select</label>
        <locationX>380</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Each_Selected_Condition</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Selected from Datatable</defaultConnectorLabel>
        <rules>
            <name>AddNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>noSelectedConditions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Condition_Exclusion_Detail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Condition_to_Formula</targetReference>
            </connector>
            <label>Add</label>
        </rules>
    </decisions>
    <decisions>
        <name>Save_to_Library</name>
        <label>Save to Library?</label>
        <locationX>182</locationX>
        <locationY>1238</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Save</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Save_to_Product_Category_Library</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Save_To_Product_Library</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Condition</targetReference>
            </connector>
            <label>Save</label>
        </rules>
    </decisions>
    <formulas>
        <name>concatLinesofConditions</name>
        <dataType>String</dataType>
        <expression>{!recordinputOpptyLineItem.Conditions__c} &amp; BR() &amp; {!tempAttachCondition}</expression>
    </formulas>
    <formulas>
        <name>idSave2ProductCategoryLibrary</name>
        <dataType>String</dataType>
        <expression>IF({!Save_to_Product_Category_Library},{!recordinputOpptyLineItem.Product_Category__c},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>idSave2ProductLibrary</name>
        <dataType>String</dataType>
        <expression>IF({!Save_To_Product_Library},{!recordinputOpptyLineItem.Product2Id},&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Add Conditions Exclusions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Conditions Exclusions</label>
    <loops>
        <name>Each_Selected_Condition</name>
        <label>Each Selected Condition</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <collectionReference>recordsSelectedConditions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_Formula</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Condition</name>
        <label>Create Condition</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <inputAssignments>
            <field>Condition_Detail__c</field>
            <value>
                <elementReference>Condition_Exclusion_Detail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Category__c</field>
            <value>
                <elementReference>idSave2ProductCategoryLibrary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>idSave2ProductLibrary</elementReference>
            </value>
        </inputAssignments>
        <object>Condition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Conditions</name>
        <label>Update Conditions</label>
        <locationX>380</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Add_or_Select</targetReference>
        </connector>
        <inputReference>recordinputOpptyLineItem</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Line_Item</name>
        <label>Update Line Item</label>
        <locationX>182</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Save_to_Library</targetReference>
        </connector>
        <inputReference>recordinputOpptyLineItem</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Line_Item_mult</name>
        <label>Update Line Item</label>
        <locationX>666</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Each_Selected_Condition</targetReference>
        </connector>
        <inputReference>recordinputOpptyLineItem</inputReference>
    </recordUpdates>
    <screens>
        <name>scrAdd_Conditions</name>
        <label>Add Conditions</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Edit_Conditions</targetReference>
        </connector>
        <fields>
            <name>msgCurrentConditions</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Current Conditions/Exclusions for {!recordinputOpptyLineItem.Product2.Name}:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;(Editable, click Finish if not Adding more)&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Edit_Conditions_Exclusions_Here</name>
            <defaultValue>
                <stringValue>{!recordinputOpptyLineItem.Conditions__c}</stringValue>
            </defaultValue>
            <fieldText>Edit Conditions/Exclusions Here</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>hdrAddConditions</name>
            <extensionName>dhfpi:lwcFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <stringValue>Add Conditions/Exclusions to:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:immunization</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <elementReference>recordinputOpptyLineItem.Product2.Name</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dtConditionsLibrary</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Condition__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Condition__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>recordsConditionsLibrary</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Condition_Detail__c,Read_Only_Category_Product__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnIcons</name>
                <value>
                    <stringValue>Condition_Detail__c:utility:add, Read_Only_Category_Product__c:standard:variation_products</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Condition_Detail__c:Condition/Exclusion Detail, Read_Only_Category_Product__c:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Condition_Detail__c:774, Read_Only_Category_Product__c:174</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Condition_Detail__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Select One or More to Add</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:follow</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>noSelectedConditions</assignToReference>
                <name>numberOfRowsSelected</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>recordsSelectedConditions</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>noConditionsFound</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>toggleAddNew.value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>toggleAddNew</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Add to Line Item (&amp; Library?)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Not in Library? Add New One by Sliding Toggle.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Choose from Library</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>noConditionsFound</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scrAdd_Conditions_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrAdd_Conditions_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>msgAddNewCondition</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Add New Condition/Exclusion&lt;/b&gt; &lt;i&gt;(Saving to Library Optional)&lt;/i&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Condition_Exclusion_Detail</name>
                    <dataType>String</dataType>
                    <fieldText>Condition/Exclusion Detail</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Save_To_Product_Library</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Save To Product Library</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Save_to_Product_Category_Library</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Save to Product Category Library</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>toggleAddNew.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrComponentIitialDisplayState</name>
        <label>ComponentIitialDisplayState</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Query_Conditions_Library</targetReference>
        </connector>
        <fields>
            <name>msgConditions</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Conditions/Exclusions:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!recordinputOpptyLineItem.Conditions__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ftrAddConditions</name>
            <extensionName>dhfpi:lwcFlowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <stringValue>Add/Edit Conditions/Exclusions</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>scrComponentIitialDisplayState</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Query_Conditions_Library</name>
        <label>Query Conditions Library</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>scrAdd_Conditions</targetReference>
        </connector>
        <flowName>Subflow_Query_Conditions</flowName>
        <inputAssignments>
            <name>productId</name>
            <value>
                <elementReference>recordinputOpptyLineItem.Product2.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>txtProductCategory</name>
            <value>
                <elementReference>recordinputOpptyLineItem.Product_Category__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>noConditionsFound</assignToReference>
            <name>noConditionsFound</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordsConditionsLibrary</assignToReference>
            <name>recordsConditions</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>boolAddtoLibrary</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>noConditionsFound</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>noSelectedConditions</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordinputOpptyLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>recordsConditionsLibrary</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Condition__c</objectType>
    </variables>
    <variables>
        <name>recordsSelectedConditions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Condition__c</objectType>
    </variables>
    <variables>
        <name>tempAttachCondition</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
