force-app/main/default/flows/Add_Contract_Line_Item.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Error_Update_Screen</name>
        <label>Error Update Screen</label>
        <locationX>1733</locationX>
        <locationY>398</locationY>
        <actionName>c:UpdateScreen</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordinputOppty.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_Contract_Line_Item_to_Collection_to_Save</name>
        <label>Add Contract Line Item to Collection to Save</label>
        <locationX>1161</locationX>
        <locationY>2414</locationY>
        <assignmentItems>
            <assignToReference>recordsContractLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tmpCLI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_Created_Oppty_Line_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Line_Item_to_Collection_for_Saving</name>
        <label>Add Oppty Line Item</label>
        <locationX>1161</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>recordsOpptyLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tmpOLI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_tmpCLICondition_to_Collection</name>
        <label>Add tmpCLICondition to Collection</label>
        <locationX>1337</locationX>
        <locationY>3590</locationY>
        <assignmentItems>
            <assignToReference>recordsCLIConditions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tmpCLICondition</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_Selected_Condition</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_a_Contract_Line_Item</name>
        <label>Create a Contract Line Item</label>
        <locationX>1161</locationX>
        <locationY>2294</locationY>
        <assignmentItems>
            <assignToReference>tmpCLI.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordinputOppty.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpCLI.Product_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>grpUsedFor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpCLI.Avg_List_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_Created_Oppty_Line_Item.PricebookEntry.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpCLI.Line_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_Created_Oppty_Line_Item.Product2.Line_Detail_Template__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpCLI.Opportunity_Product_Sync__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_Created_Oppty_Line_Item.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpCLI.PricebookEntry_Txt_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_Created_Oppty_Line_Item.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpCLI.Product_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_Created_Oppty_Line_Item.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpCLI.Product_Origination__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_Created_Oppty_Line_Item.Product2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpCLI.Quantity_Scale__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_Created_Oppty_Line_Item.Product2.Quantity_Scale__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpCLI.Unit_Measure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_Created_Oppty_Line_Item.Product2.Standard_Unit_of_Measure__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpCLI.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_Created_Oppty_Line_Item.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpCLI.Contract_Line_Item_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordSelectedCLIGroup.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Contract_Line_Item_to_Collection_to_Save</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_a_LineItem_0</name>
        <label>Create Oppty Line Item</label>
        <locationX>1161</locationX>
        <locationY>1718</locationY>
        <assignmentItems>
            <assignToReference>tmpOLI.ListPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Price_Book_Entry.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpOLI.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordinputOppty.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpOLI.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Products.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpOLI.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Products.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpOLI.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpOLI.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Price_Book_Entry.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpOLI.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Price_Book_Entry.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpOLI.ProductCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Products.ProductCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Line_Item_to_Collection_for_Saving</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Temp_CLI_Condition</name>
        <label>Create Temp CLI Condition</label>
        <locationX>1337</locationX>
        <locationY>3470</locationY>
        <assignmentItems>
            <assignToReference>tmpCLICondition.Contract_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_Contract_Line_Item.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpCLICondition.Condition_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_Selected_Condition.Condition_Detail__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_tmpCLICondition_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_No_of_CLI_Groups</name>
        <label>Store No of CLI Groups</label>
        <locationX>759</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>noCLIGroupsFound</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_CLI_Groups</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Groups_Exist</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Sort_Order_of_Pay_Items</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Order of Pay Items</label>
        <locationX>1073</locationX>
        <locationY>1238</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Pay_Items_Used</collectionReference>
        <connector>
            <targetReference>Select_Pay_Items_to_Add</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>NonCPQ_Sort_Order__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>SBQQ__SortOrder__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Added_Conditions</name>
        <label>Added Conditions</label>
        <locationX>2008</locationX>
        <locationY>3230</locationY>
        <defaultConnector>
            <targetReference>Each_Contract_Line_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>From_Library</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>noSelectedConditions</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Each_Selected_Condition</targetReference>
            </connector>
            <label>From Library</label>
        </rules>
        <rules>
            <name>New_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Condition_Exclusion_Detail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>&quot;&quot;</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Condition_Exclusion_Detail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Single_Condition_1_on_CLI</targetReference>
            </connector>
            <label>New Condition</label>
        </rules>
    </decisions>
    <decisions>
        <name>Console_or_Lightning</name>
        <label>Console or Lightning</label>
        <locationX>1073</locationX>
        <locationY>4670</locationY>
        <defaultConnector>
            <targetReference>scrFinish_Console_LEX</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lightning</defaultConnectorLabel>
        <rules>
            <name>Console</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.UIThemeDisplayed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Theme4u</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrFinish_Console</targetReference>
            </connector>
            <label>Console</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exit_and_a_New_Group</name>
        <label>Exit and a New Group</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Select_Product_Used_For</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Keep Going</defaultConnectorLabel>
        <rules>
            <name>ExitNewGroup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>exitAddNewGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Exit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Groups_Exist</name>
        <label>Groups Exist</label>
        <locationX>759</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>End_Need_CLI_Groups</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No CLI Groups</defaultConnectorLabel>
        <rules>
            <name>At_Least_one_Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>noCLIGroupsFound</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrContract_Line_Item_Group</targetReference>
            </connector>
            <label>At Least one Group</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pricebook_Selected_on_Oppty</name>
        <label>Pricebook Selected on Oppty</label>
        <locationX>1246</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>scrEndFlowErrorNoPrcBk</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>pricebookYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordinputOppty.Pricebook2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordinputOppty.Pricebook2Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>&quot;&quot;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrInitial_Component_Display_State</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Save_1_to_Library</name>
        <label>Save 1 to Library</label>
        <locationX>2195</locationX>
        <locationY>3470</locationY>
        <defaultConnector>
            <targetReference>Second_New_Condition</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Just_Product_Library_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Save_To_Product_Library</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Save_to_Product_Category_Library</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_1_in_Product_Library</targetReference>
            </connector>
            <label>Just Product Library 1</label>
        </rules>
        <rules>
            <name>Just_Product_Category_Library_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Save_to_Product_Category_Library</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Save_To_Product_Library</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_1_in_Category_Library</targetReference>
            </connector>
            <label>Just Product Category Library 1</label>
        </rules>
        <rules>
            <name>Both_Library_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Save_To_Product_Library</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Save_to_Product_Category_Library</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_1_in_Both_Library</targetReference>
            </connector>
            <label>Both Library 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Save_2_to_Library</name>
        <label>Save 2 to Library</label>
        <locationX>1909</locationX>
        <locationY>4046</locationY>
        <defaultConnector>
            <targetReference>Each_Contract_Line_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Just_Product_Library_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Save_Second_to_Product_Library</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Save_Second_to_Product_Category_Library</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_2_in_Product_Library</targetReference>
            </connector>
            <label>Just Product Library 2</label>
        </rules>
        <rules>
            <name>Just_Product_Category_Library_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Save_Second_to_Product_Category_Library</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Save_Second_to_Product_Library</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_2_in_Category_Library</targetReference>
            </connector>
            <label>Just Product Category Library 2</label>
        </rules>
        <rules>
            <name>Both_Library_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Save_Second_to_Product_Library</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Save_Second_to_Product_Category_Library</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_2_in_Both_Library</targetReference>
            </connector>
            <label>Both Library 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Second_New_Condition</name>
        <label>Second New Condition?</label>
        <locationX>2195</locationX>
        <locationY>3806</locationY>
        <defaultConnector>
            <targetReference>Each_Contract_Line_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Second_to_Save</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_a_Second_New_Condition_Exclusion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Single_Condition_2_on_CLI</targetReference>
            </connector>
            <label>Yes Second to Save</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>product_used_for</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Product_Used_For__c</picklistField>
        <picklistObject>Product2</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Add Contract Line Item {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Contract Line Item</label>
    <loops>
        <name>Each_Contract_Line_Item</name>
        <label>Each Contract Line Item</label>
        <locationX>1073</locationX>
        <locationY>2750</locationY>
        <collectionReference>recordsContractLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>scrAdd_Notes_to_Team</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Console_or_Lightning</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Each_Created_Oppty_Line_Item</name>
        <label>Each Created Oppty Line Item</label>
        <locationX>1073</locationX>
        <locationY>2174</locationY>
        <collectionReference>recordsOpptyLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_a_Contract_Line_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Contract_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Each_Selected_Condition</name>
        <label>Each Selected Condition</label>
        <locationX>1249</locationX>
        <locationY>3350</locationY>
        <collectionReference>recordsSelectedConditions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Temp_CLI_Condition</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_CLIConditions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Selected_Products</name>
        <label>Loop Selected Products</label>
        <locationX>1073</locationX>
        <locationY>1478</locationY>
        <collectionReference>recordsProductsSelected2Add</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Price_Book_Entry</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Oppty_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_1_in_Both_Library</name>
        <label>Create 1 in Both Library</label>
        <locationX>2327</locationX>
        <locationY>3590</locationY>
        <connector>
            <targetReference>Second_New_Condition</targetReference>
        </connector>
        <inputAssignments>
            <field>Condition_Detail__c</field>
            <value>
                <elementReference>Condition_Exclusion_Detail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Category__c</field>
            <value>
                <elementReference>grpUsedFor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Each_Contract_Line_Item.Product_Origination__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Condition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_1_in_Category_Library</name>
        <label>Create 1 in Category Library</label>
        <locationX>2063</locationX>
        <locationY>3590</locationY>
        <connector>
            <targetReference>Second_New_Condition</targetReference>
        </connector>
        <inputAssignments>
            <field>Condition_Detail__c</field>
            <value>
                <elementReference>Condition_Exclusion_Detail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Category__c</field>
            <value>
                <elementReference>grpUsedFor</elementReference>
            </value>
        </inputAssignments>
        <object>Condition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_1_in_Product_Library</name>
        <label>Create 1 in Product Library</label>
        <locationX>1799</locationX>
        <locationY>3590</locationY>
        <connector>
            <targetReference>Second_New_Condition</targetReference>
        </connector>
        <inputAssignments>
            <field>Condition_Detail__c</field>
            <value>
                <elementReference>Condition_Exclusion_Detail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Each_Contract_Line_Item.Product_Origination__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Condition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_2_in_Both_Library</name>
        <label>Create 2 in Both Library</label>
        <locationX>2041</locationX>
        <locationY>4166</locationY>
        <connector>
            <targetReference>Each_Contract_Line_Item</targetReference>
        </connector>
        <inputAssignments>
            <field>Condition_Detail__c</field>
            <value>
                <elementReference>Second_Condition_Exclusion_Detail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Category__c</field>
            <value>
                <elementReference>grpUsedFor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Each_Contract_Line_Item.Product_Origination__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Condition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_2_in_Category_Library</name>
        <label>Create 2 in Category Library</label>
        <locationX>1777</locationX>
        <locationY>4166</locationY>
        <connector>
            <targetReference>Each_Contract_Line_Item</targetReference>
        </connector>
        <inputAssignments>
            <field>Condition_Detail__c</field>
            <value>
                <elementReference>Second_Condition_Exclusion_Detail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Category__c</field>
            <value>
                <elementReference>grpUsedFor</elementReference>
            </value>
        </inputAssignments>
        <object>Condition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_2_in_Product_Library</name>
        <label>Create 2 in Product Library</label>
        <locationX>1513</locationX>
        <locationY>4166</locationY>
        <connector>
            <targetReference>Each_Contract_Line_Item</targetReference>
        </connector>
        <inputAssignments>
            <field>Condition_Detail__c</field>
            <value>
                <elementReference>Second_Condition_Exclusion_Detail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Each_Contract_Line_Item.Product_Origination__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Condition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_CLIConditions</name>
        <label>Create CLIConditions</label>
        <locationX>1249</locationX>
        <locationY>3806</locationY>
        <connector>
            <targetReference>Each_Contract_Line_Item</targetReference>
        </connector>
        <inputReference>recordsCLIConditions</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Contract_Line_Items</name>
        <label>Create Contract Line Items</label>
        <locationX>1073</locationX>
        <locationY>2630</locationY>
        <connector>
            <targetReference>Each_Contract_Line_Item</targetReference>
        </connector>
        <inputReference>recordsContractLineItems</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Oppty_Line_Items</name>
        <label>Create Oppty Line Items</label>
        <locationX>1073</locationX>
        <locationY>2054</locationY>
        <connector>
            <targetReference>Each_Created_Oppty_Line_Item</targetReference>
        </connector>
        <inputReference>recordsOpptyLineItems</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Single_Condition_1_on_CLI</name>
        <label>Create Single Condition 1 on CLI</label>
        <locationX>2195</locationX>
        <locationY>3350</locationY>
        <connector>
            <targetReference>Save_1_to_Library</targetReference>
        </connector>
        <inputAssignments>
            <field>Condition_Detail__c</field>
            <value>
                <elementReference>Condition_Exclusion_Detail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Line_Item__c</field>
            <value>
                <elementReference>Each_Contract_Line_Item.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Contract_Line_Item_Condition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Single_Condition_2_on_CLI</name>
        <label>Create Single Condition 2 on CLI</label>
        <locationX>1909</locationX>
        <locationY>3926</locationY>
        <connector>
            <targetReference>Save_2_to_Library</targetReference>
        </connector>
        <inputAssignments>
            <field>Condition_Detail__c</field>
            <value>
                <elementReference>Second_Condition_Exclusion_Detail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Line_Item__c</field>
            <value>
                <elementReference>Each_Contract_Line_Item.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Contract_Line_Item_Condition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_CLI_Groups</name>
        <label>Get CLI Groups</label>
        <locationX>759</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_No_of_CLI_Groups</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsDeleted</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordinputOppty.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract_Line_Item_Group__c</object>
        <sortField>Sort_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pay_Items_Used</name>
        <label>Get Pay Items Used</label>
        <locationX>1073</locationX>
        <locationY>1118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sort_Order_of_Pay_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_a_Main_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsArchived</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>txtUsedFor__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>grpUsedFor</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <sortField>NonCPQ_Sort_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Price_Book_Entry</name>
        <label>Get Price Book Entry</label>
        <locationX>1161</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_a_LineItem_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsArchived</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Selected_Products.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordinputOppty.Pricebook2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>End_Need_CLI_Groups</name>
        <label>End Need CLI Groups</label>
        <locationX>1469</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msgNeedCLIGroups</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(250, 0, 0); font-size: 16px;&quot;&gt;Add a Contract Line Item Group First&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrAdd_Conditions</name>
        <label>Add Conditions</label>
        <locationX>2008</locationX>
        <locationY>3110</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Added_Conditions</targetReference>
        </connector>
        <fields>
            <name>hdrAddConditions</name>
            <extensionName>dhfpi:lwcFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <stringValue>Add Conditions/Exclusions to {!Each_Contract_Line_Item.Product_Origination__r.Name}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:immunization</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dtConditionsLibrary</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Condition__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Condition__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>recordsConditionLibrary</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Condition_Detail__c,Read_Only_Category_Product__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Read_Only_Category_Product__c:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Condition_Detail__c:722, Read_Only_Category_Product__c:141</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Condition_Detail__c:true, Read_Only_Category_Product__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>noSelectedConditions</assignToReference>
                <name>numberOfRowsSelected</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>recordsSelectedConditions</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>noConditionsFound</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>toggleAddNew.value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>toggleAddNew</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Not in Library? Add New One by Sliding Toggle.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Add to Line Item (&amp; Library?)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Choose from Library</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>noConditionsFound</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scrAdd_Conditions_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrAdd_Conditions_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>msgAddNewCondition</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Add New Condition/Exclusion&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; &lt;/span&gt;&lt;i style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;(Saving to Library Optional)&lt;/i&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Condition_Exclusion_Detail</name>
                    <dataType>String</dataType>
                    <fieldText>Condition/Exclusion Detail</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Save_To_Product_Library</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Save To Product Library</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Save_to_Product_Category_Library</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Save to Product Category Library</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Add_a_Second_New_Condition_Exclusion</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Add a Second New Condition/Exclusion</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Second_Condition_Exclusion_Detail</name>
                    <dataType>String</dataType>
                    <fieldText>Second Condition/Exclusion Detail</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Add_a_Second_New_Condition_Exclusion</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Save_Second_to_Product_Library</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Save Second to Product Library</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Add_a_Second_New_Condition_Exclusion</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Save_Second_to_Product_Category_Library</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Save Second to Product Category Library</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Add_a_Second_New_Condition_Exclusion</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>toggleAddNew.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>noConditionsFound</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrAdd_Notes_to_Team</name>
        <label>Add Notes to Team</label>
        <locationX>2008</locationX>
        <locationY>2870</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Query_Conditions_Library</targetReference>
        </connector>
        <fields>
            <name>hdrAddNotestoTeam_Multiple_0_0</name>
            <extensionName>dhfpi:lwcFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>Loop_Selected_Products.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>utility:prompt_edit</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>msgInstrInternal_0_0</name>
            <fieldText>&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;b style=&quot;color: rgb(19, 68, 247); font-size: 16px;&quot;&gt;Add Any Notes or Special Instructions for this Product&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sales_Note</name>
            <defaultValue>
                <stringValue>{!Each_Contract_Line_Item.Product_Origination__r.Internal_Description__c}</stringValue>
            </defaultValue>
            <fieldText>Internal Note/Special Instructions</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>msgAddConditionsWhen_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;i style=&quot;font-size: 16px;&quot;&gt;In the next screen, you will be able to &lt;/i&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;&lt;i&gt;Add Conditions/Exclusions &lt;/i&gt;&lt;/b&gt;&lt;i style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;on individual Line Items.&lt;/i&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;i style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;If this is a &lt;/i&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;&lt;i&gt;General Line Item to be replaced&lt;/i&gt;&lt;/b&gt;&lt;i style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt; by specific products, Add Conditions/Exclusions to these notes.&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrContract_Line_Item_Group</name>
        <label>Contract Line Item Group</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Exit_and_a_New_Group</targetReference>
        </connector>
        <fields>
            <name>dtCLIGroups</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contract_Line_Item_Group__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Contract_Line_Item_Group__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_CLI_Groups</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Choose which Contract Line Item Group or....</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:work_type_group</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideHeaderActions</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideHeaderActions</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Sort_Order__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:470, Sort_Order__c:470</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideClearSelectionButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideClearSelectionButton</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>recordSelectedCLIGroup</assignToReference>
                <name>outputSelectedRow</name>
            </outputParameters>
        </fields>
        <fields>
            <name>exitAddNewGroup</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Group Not Listed Above. Need to  Add a New One.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrEndFlowErrorNoPrcBk</name>
        <label>Error No PrcBk</label>
        <locationX>1733</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Error_Update_Screen</targetReference>
        </connector>
        <fields>
            <name>hdrEndFlowScreen</name>
            <extensionName>dhfpi:lwcFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <stringValue>ERROR !!! No Action was taken to Change Data</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>utility:error</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <stringValue>Cannot start the action to Add a Product without the Standard Price Book assigned to the Opportunity.</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>msgErrorData</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px; color: rgb(5, 42, 253);&quot;&gt;Opportunity Id: {!recordinputOppty.Id}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 20px; color: rgb(5, 42, 253);&quot;&gt;Opportunity.&lt;/b&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(5, 42, 253); font-size: 20px;&quot;&gt;Pricebook2Id:&lt;/b&gt;&lt;b style=&quot;font-size: 20px; color: rgb(5, 42, 253);&quot;&gt;{!recordinputOppty.Pricebook2Id}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>msgAttention</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: transparent; color: rgb(247, 0, 0); font-family: Roboto, sans-serif; font-size: 18pt;&quot;&gt;Attention !!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(250, 6, 6); font-family: Roboto, sans-serif; font-size: 12pt;&quot;&gt;This Standard Price Book needs to be Selected on the Opportunity!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;**Immediate Workaround: Follow these Steps Please**&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;1.&amp;nbsp; Take a Screenshot of this message and the data or use a camera phone.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;2.&amp;nbsp; Attach image to a communication to your Local Salesforce Admin.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;3.&amp;nbsp; After reading these instructions, click the Finish button to end this Flow Action and return to the refreshed Opportunity of origin.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;4.&amp;nbsp; On the Opportunity page, go to the Details section and Edit the Price Book field by clicking on the displayed X, if there is an existing Price Book and then using the dropdown search input and click Standard Price Book.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;5.&amp;nbsp; Save the Opportunity and try to Add Products Used for...&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrFinish_Console</name>
        <label>Finish Console</label>
        <locationX>941</locationX>
        <locationY>4790</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msgConsoleFinish</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 24px; color: rgb(10, 157, 5);&quot;&gt;{!noProductsSelected} Line Items added successfully.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;To add &lt;/span&gt;&lt;b style=&quot;font-size: 20px; color: rgb(55, 85, 215);&quot;&gt;Conditions and Exclusions&lt;/b&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; to Line Items, &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;click on the &lt;/span&gt;&lt;u style=&quot;font-size: 16px; color: rgb(21, 166, 240);&quot;&gt;Product&lt;/u&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; in the Products list below to view/edit each Line Item.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;b style=&quot;color: rgb(197, 8, 240); font-size: 48px;&quot;&gt;Click Finish&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrFinish_Console_LEX</name>
        <label>Finish LEX</label>
        <locationX>1205</locationX>
        <locationY>4790</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msgFinishLEX</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(10, 157, 5); font-size: 24px;&quot;&gt;{!noProductsSelected} Line Items added successfully.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;To add &lt;/span&gt;&lt;b style=&quot;color: rgb(55, 85, 215); font-size: 20px;&quot;&gt;Conditions and Exclusions&lt;/b&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; to Line Items, &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;click on the &lt;/span&gt;&lt;u style=&quot;color: rgb(21, 166, 240); font-size: 16px;&quot;&gt;Product&lt;/u&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; in the Products list below to view/edit each Line Item.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;b style=&quot;color: rgb(197, 8, 240); font-size: 48px;&quot;&gt;Click Finish&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrInitial_Component_Display_State</name>
        <label>Initial Component Display State</label>
        <locationX>759</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_CLI_Groups</targetReference>
        </connector>
        <fields>
            <name>ftrAddLineItems</name>
            <extensionName>dhfpi:lwcFlowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <stringValue>Add Contract Line Items</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Pay_Items_to_Add</name>
        <label>Select Pay Items to Add</label>
        <locationX>1073</locationX>
        <locationY>1358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Selected_Products</targetReference>
        </connector>
        <fields>
            <name>debug</name>
            <fieldText>&lt;p&gt;{!grpUsedFor}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dtProducts</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Product2</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Product2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Pay_Items_Used</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,ProductCode,Internal_Description__c,Description</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Name:Pay Item, Description:Description on Quote</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:232, ProductCode:232, Internal_Description__c:232, Description:232</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Name:true, ProductCode:true, Internal_Description__c:true, Description:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowNoneToBeChosen</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:product2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Select Product Pay Items to Add to the Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>recordsProductsSelected2Add</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>noProductsSelected</assignToReference>
                <name>numberOfRowsSelected</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Product_Used_For</name>
        <label>Select Product(s) Used for...</label>
        <locationX>1073</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Pay_Items_Used</targetReference>
        </connector>
        <fields>
            <name>hdrPayItemsUsedfor</name>
            <extensionName>dhfpi:lwcFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <stringValue>Add Products from the Standard Price Book to Opportunity Line Items</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard: product_request_line_item</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <stringValue>Select 1 to Filter the Pay Item Products by what they are Used For</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>grpUsedFor</name>
            <choiceReferences>product_used_for</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a Category:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1120</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Pricebook_Selected_on_Oppty</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Query_Conditions_Library</name>
        <label>Query Conditions Library</label>
        <locationX>2008</locationX>
        <locationY>2990</locationY>
        <connector>
            <targetReference>scrAdd_Conditions</targetReference>
        </connector>
        <flowName>Subflow_Query_Conditions</flowName>
        <inputAssignments>
            <name>productId</name>
            <value>
                <elementReference>Each_Contract_Line_Item.Product_Origination__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>txtProductCategory</name>
            <value>
                <elementReference>grpUsedFor</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>noConditionsFound</assignToReference>
            <name>noConditionsFound</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordsConditionLibrary</assignToReference>
            <name>recordsConditions</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>idSingleLineItem</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>idsSelectedProducts</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>maxCLIGroupSortOrder</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>noCLIGroupsFound</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>noConditionsFound</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>noProductsSelected</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>noSelectedConditions</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordinputOppty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordsCLIConditions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract_Line_Item_Condition__c</objectType>
    </variables>
    <variables>
        <name>recordsConditionLibrary</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Condition__c</objectType>
    </variables>
    <variables>
        <name>recordsContractLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>recordSelectedCLIGroup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract_Line_Item_Group__c</objectType>
    </variables>
    <variables>
        <name>recordsingleProductChose</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>recordsOpptyLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>recordsProductsSelected2Add</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>recordsSelectedConditions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Condition__c</objectType>
    </variables>
    <variables>
        <name>tmpCLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>tmpCLICondition</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract_Line_Item_Condition__c</objectType>
    </variables>
    <variables>
        <name>tmpLibraryCondition</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Condition__c</objectType>
    </variables>
    <variables>
        <name>tmpOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
