force-app/main/default/flows/Add_All_Assigned_Resource_Names_to_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_Resource_Name_to_Text_Var</name>
        <label>Add Resource Name to Text Var</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>resourcesConcatenated</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Loop_Assignments.Krow__Project_Resource__r.Name}; </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Assignments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Resources_String</name>
        <label>Add Resources String</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>Get_the_Task.Resources_Assigned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>resourcesConcatenated</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_Task_with_Resources</targetReference>
        </connector>
    </assignments>
    <description>When a Task Assignment is created or updated, concatenate all resource names assigned and store on Task.Resources_Assigned__c</description>
    <interviewLabel>Add All Assigned Resource Names to Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add All Assigned Resource Names to Task</label>
    <loops>
        <name>Loop_Assignments</name>
        <label>Loop Assignments</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_All_Assignments_for_Task</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Resource_Name_to_Text_Var</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Resources_String</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Assignments_for_Task</name>
        <label>Get All Assignments for Task</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_the_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Krow__Krow_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Krow__Krow_Task__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Krow__Task_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Task</name>
        <label>Get the Task</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Assignments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Krow__Krow_Task__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Krow__Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_Task_with_Resources</name>
        <label>Update the Task with Resources</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <inputReference>Get_the_Task</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Assignments_for_Task</targetReference>
        </connector>
        <object>Krow__Task_Assignment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>resourcesConcatenated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
