force-app/main/default/flows/Add_Std_PrcBk_Opportunity_Line_Items2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Error_Update_Screen</name>
        <label>Error Update Screen</label>
        <locationX>666</locationX>
        <locationY>398</locationY>
        <actionName>c:UpdateScreen</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_Line_Item_to_Collection_for_Saving</name>
        <label>Add Line Item to Collection for Saving</label>
        <locationX>490</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>records2saveLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_a_LineItem_0</name>
        <label>Create a LineItem</label>
        <locationX>490</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>tempLineItem.longDescription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Products.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempLineItem.ListPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Price_Book_Entry_0.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempLineItem.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempLineItem.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Products.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Products.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempLineItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Price_Book_Entry_0.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempLineItem.SortOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Products.NonCPQ_Sort_Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempLineItem.Internal_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>multiInternal_Note_Special_Instructions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Price_Book_Entry_0.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempLineItem.Price_w_o_Labor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Price_Book_Entry_0.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempLineItem.ProductCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Products.ProductCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempLineItem.Labor_Charge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempLineItem.Product_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>grpUsedFor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempLineItem.Units_of_Measure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Products.Standard_Unit_of_Measure__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempLineItem.Product_on_RFP_Editable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Products.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Line_Item_to_Collection_for_Saving</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Single_Line_Item</name>
        <label>Create Single Line Item</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>tempLineItem.longDescription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordsingleProductChose.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempLineItem.Internal_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Internal_Note_Special_Instructions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempLineItem.ListPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_the_Pricebook_Entry.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempLineItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_the_Pricebook_Entry.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempLineItem.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordsingleProductChose.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempLineItem.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempLineItem.Price_w_o_Labor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_the_Pricebook_Entry.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_the_Pricebook_Entry.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordsingleProductChose.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempLineItem.ProductCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordsingleProductChose.ProductCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempLineItem.SortOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordsingleProductChose.NonCPQ_Sort_Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempLineItem.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_the_Pricebook_Entry.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempLineItem.Labor_Charge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempLineItem.Product_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>grpUsedFor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempLineItem.Units_of_Measure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordsingleProductChose.Standard_Unit_of_Measure__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempLineItem.Product_on_RFP_Editable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordsingleProductChose.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_LineItem_on_Oppty</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Sort_Order_of_Pay_Items</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Order of Pay Items</label>
        <locationX>226</locationX>
        <locationY>638</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Pay_Items_Used</collectionReference>
        <connector>
            <targetReference>Select_Pay_Items_to_Add</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>NonCPQ_Sort_Order__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>SBQQ__SortOrder__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Console_or_Lightning</name>
        <label>Console or Lightning</label>
        <locationX>226</locationX>
        <locationY>1910</locationY>
        <defaultConnector>
            <targetReference>scrFinish_Console_LEX</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lightning</defaultConnectorLabel>
        <rules>
            <name>Console</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.UIThemeDisplayed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Theme4u</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrFinish_Console</targetReference>
            </connector>
            <label>Console</label>
        </rules>
    </decisions>
    <decisions>
        <name>How_many_Products_Selected</name>
        <label>How many Products Selected</label>
        <locationX>226</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Loop_Selected_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Multiple</defaultConnectorLabel>
        <rules>
            <name>One</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>noProductsSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrAdd_Notes_to_Team</targetReference>
            </connector>
            <label>One</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pricebook_Selected_on_Oppty</name>
        <label>Pricebook Selected on Oppty</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>scrEndFlowErrorNoPrcBk</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>pricebookYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Pricebook2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Pricebook2Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>&quot;&quot;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrInitial_Component_Display_State</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Handles Pricebook, prompts each product for internal and conditions</description>
    <dynamicChoiceSets>
        <name>product_used_for</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Product_Used_For__c</picklistField>
        <picklistObject>Product2</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Add Std PrcBk Opportunity Line Items {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Std PrcBk Opportunity Line Items w/ Conditions</label>
    <loops>
        <name>Loop_Selected_Products</name>
        <label>Loop Selected Products</label>
        <locationX>402</locationX>
        <locationY>998</locationY>
        <collectionReference>recordsProductsSelected2Add</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>scrAdd_Notes_to_Team_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_LineItems_by_Saving</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_LineItems_by_Saving</name>
        <label>Create LineItems by Saving</label>
        <locationX>402</locationX>
        <locationY>1694</locationY>
        <connector>
            <targetReference>Console_or_Lightning</targetReference>
        </connector>
        <inputReference>records2saveLineItems</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Save_LineItem_on_Oppty</name>
        <label>Save LineItem on Oppty</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <assignRecordIdToReference>idSingleLineItem</assignRecordIdToReference>
        <connector>
            <targetReference>Console_or_Lightning</targetReference>
        </connector>
        <inputAssignments>
            <field>Internal_Description__c</field>
            <value>
                <elementReference>tempLineItem.Internal_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Labor_Charge__c</field>
            <value>
                <elementReference>tempLineItem.Labor_Charge__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>tempLineItem.OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_w_o_Labor__c</field>
            <value>
                <elementReference>tempLineItem.Price_w_o_Labor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>tempLineItem.PricebookEntryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>tempLineItem.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Category__c</field>
            <value>
                <elementReference>tempLineItem.Product_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SortOrder</field>
            <value>
                <elementReference>tempLineItem.SortOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>tempLineItem.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>longDescription__c</field>
            <value>
                <elementReference>tempLineItem.longDescription__c</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Pay_Items_Used</name>
        <label>Get Pay Items Used</label>
        <locationX>226</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sort_Order_of_Pay_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_a_Main_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsArchived</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>txtUsedFor__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>grpUsedFor</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <sortField>NonCPQ_Sort_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Price_Book_Entry_0</name>
        <label>Get Price Book Entry</label>
        <locationX>490</locationX>
        <locationY>1238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_a_LineItem_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsArchived</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Selected_Products.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Pricebook2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Pricebook_Entry</name>
        <label>Only Pricebook Entry</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Single_Line_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsArchived</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordsingleProductChose.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Pricebook2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>scrAdd_Notes_to_Team</name>
        <label>Add Notes to Team</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_the_Pricebook_Entry</targetReference>
        </connector>
        <fields>
            <name>hdrAddNotestoTeam</name>
            <extensionName>dhfpi:lwcFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>recordsingleProductChose.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>utility:prompt_edit</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>msgSingleInstr</name>
            <fieldText>&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;b style=&quot;color: rgb(28, 28, 237); font-size: 16px;&quot;&gt;Add Any Notes or Special Instructions for this Product&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Internal_Note_Special_Instructions</name>
            <defaultValue>
                <stringValue>{!recordsingleProductChose.Internal_Description__c}</stringValue>
            </defaultValue>
            <fieldText>Internal Note/Special Instructions</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>msgAddConditionsWhen</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;i style=&quot;font-size: 16px;&quot;&gt;After Finishing, you will be able to &lt;/i&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-size: 16px;&quot;&gt;&lt;i&gt;Add Conditions/Exclusions &lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;i style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-size: 16px;&quot;&gt;on individual Line Items.&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrAdd_Notes_to_Team_0</name>
        <label>Add Notes to Team</label>
        <locationX>490</locationX>
        <locationY>1118</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Price_Book_Entry_0</targetReference>
        </connector>
        <fields>
            <name>hdrAddNotestoTeam_Multiple</name>
            <extensionName>dhfpi:lwcFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>Loop_Selected_Products.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>utility:prompt_edit</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>msgInstrInternal</name>
            <fieldText>&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;b style=&quot;color: rgb(19, 68, 247); font-size: 16px;&quot;&gt;Add Any Notes or Special Instructions for this Product&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>multiInternal_Note_Special_Instructions</name>
            <defaultValue>
                <stringValue>{!Loop_Selected_Products.Internal_Description__c}</stringValue>
            </defaultValue>
            <fieldText>Internal Note/Special Instructions</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>msgAddConditionsWhen_0</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;i style=&quot;font-size: 16px;&quot;&gt;After Finishing, you will be able to &lt;/i&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;&lt;i&gt;Add Conditions/Exclusions &lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;i style=&quot;font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;on individual Line Items.&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrEndFlowErrorNoPrcBk</name>
        <label>Error No PrcBk</label>
        <locationX>666</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Error_Update_Screen</targetReference>
        </connector>
        <fields>
            <name>hdrEndFlowScreen</name>
            <extensionName>dhfpi:lwcFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <stringValue>ERROR !!! No Action was taken to Change Data</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>utility:error</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <stringValue>Cannot start the action to Add a Product without the Standard Price Book assigned to the Opportunity.</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>msgErrorData</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px; color: rgb(5, 42, 253);&quot;&gt;Opportunity Id: {!recordId.Id}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 20px; color: rgb(5, 42, 253);&quot;&gt;Opportunity.&lt;/b&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(5, 42, 253); font-size: 20px;&quot;&gt;Pricebook2Id:&lt;/b&gt;&lt;b style=&quot;font-size: 20px; color: rgb(5, 42, 253);&quot;&gt;{!recordId.Pricebook2Id}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>msgAttention</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: transparent; color: rgb(247, 0, 0); font-family: Roboto, sans-serif; font-size: 18pt;&quot;&gt;Attention !!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(250, 6, 6); font-family: Roboto, sans-serif; font-size: 12pt;&quot;&gt;This Standard Price Book needs to be Selected on the Opportunity!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;**Immediate Workaround: Follow these Steps Please**&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;1.&amp;nbsp; Take a Screenshot of this message and the data or use a camera phone.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;2.&amp;nbsp; Attach image to a communication to your Local Salesforce Admin.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;3.&amp;nbsp; After reading these instructions, click the Finish button to end this Flow Action and return to the refreshed Opportunity of origin.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;4.&amp;nbsp; On the Opportunity page, go to the Details section and Edit the Price Book field by clicking on the displayed X, if there is an existing Price Book and then using the dropdown search input and click Standard Price Book.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;5.&amp;nbsp; Save the Opportunity and try to Add Products Used for...&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrFinish_Console</name>
        <label>Finish Console</label>
        <locationX>94</locationX>
        <locationY>2030</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msgConsoleFinish</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 24px; color: rgb(10, 157, 5);&quot;&gt;{!noProductsSelected} Line Items added successfully.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;To add &lt;/span&gt;&lt;b style=&quot;font-size: 20px; color: rgb(55, 85, 215);&quot;&gt;Conditions and Exclusions&lt;/b&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; to Line Items, &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;click on the &lt;/span&gt;&lt;u style=&quot;font-size: 16px; color: rgb(21, 166, 240);&quot;&gt;Product&lt;/u&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; in the Products list below to view/edit each Line Item.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;b style=&quot;color: rgb(197, 8, 240); font-size: 48px;&quot;&gt;Click Finish&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrFinish_Console_LEX</name>
        <label>Finish LEX</label>
        <locationX>358</locationX>
        <locationY>2030</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msgFinishLEX</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(10, 157, 5); font-size: 24px;&quot;&gt;{!noProductsSelected} Line Items added successfully.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;To add &lt;/span&gt;&lt;b style=&quot;color: rgb(55, 85, 215); font-size: 20px;&quot;&gt;Conditions and Exclusions&lt;/b&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; to Line Items, &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;click on the &lt;/span&gt;&lt;u style=&quot;color: rgb(21, 166, 240); font-size: 16px;&quot;&gt;Product&lt;/u&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; in the Products list below to view/edit each Line Item.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;b style=&quot;color: rgb(197, 8, 240); font-size: 48px;&quot;&gt;Click Finish&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrInitial_Component_Display_State</name>
        <label>Initial Component Display State</label>
        <locationX>226</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Select_Product_Used_For</targetReference>
        </connector>
        <fields>
            <name>ftrAddLineItems</name>
            <extensionName>dhfpi:lwcFlowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <stringValue>Add Products to Oppty Line Items</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Pay_Items_to_Add</name>
        <label>Select Pay Items to Add</label>
        <locationX>226</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>How_many_Products_Selected</targetReference>
        </connector>
        <fields>
            <name>debug</name>
            <fieldText>&lt;p&gt;{!grpUsedFor}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dtProducts</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Product2</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Product2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Pay_Items_Used</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,ProductCode,Internal_Description__c,Description</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Name:Pay Item, Description:Description on Quote</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:232, ProductCode:232, Internal_Description__c:232, Description:232</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Name:true, ProductCode:true, Internal_Description__c:true, Description:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowNoneToBeChosen</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:product2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Select Product Pay Items to Add to the Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>recordsProductsSelected2Add</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>noProductsSelected</assignToReference>
                <name>numberOfRowsSelected</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>recordsingleProductChose</assignToReference>
                <name>outputSelectedRow</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Product_Used_For</name>
        <label>Select Product(s) Used for...</label>
        <locationX>226</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Pay_Items_Used</targetReference>
        </connector>
        <fields>
            <name>hdrPayItemsUsedfor</name>
            <extensionName>dhfpi:lwcFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <stringValue>Add Products from the Standard Price Book to Opportunity Line Items</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard: product_request_line_item</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <stringValue>Select 1 to Filter the Pay Item Products by what they are Used For</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>grpUsedFor</name>
            <choiceReferences>product_used_for</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a Category:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Pricebook_Selected_on_Oppty</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>idSingleLineItem</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>idsSelectedProducts</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newCondition</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Condition__c</objectType>
    </variables>
    <variables>
        <name>noConditionsFound</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>noProductsSelected</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>records2saveLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>recordsConditionsLibrary</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Condition__c</objectType>
    </variables>
    <variables>
        <name>recordsingleProductChose</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>recordsOpptyProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>recordsProductsSelected2Add</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>tempLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
