force-app/main/default/flows/Add_Unass_Task_from_Project_Record_Page.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Refresh_Project_Screen</name>
        <label>Refresh Project Screen</label>
        <locationX>490</locationX>
        <locationY>2798</locationY>
        <actionName>c:UpdateScreen</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_Selected_to_New_recordsSelectedAssignees</name>
        <label>Add Selected to New recordsSelectedAssignees</label>
        <locationX>270</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>recordsSelectedAssignees</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>Loop_Assignees</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Assignees</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Assignments_to_Create_0_0</name>
        <label>Add to Assignments to Create</label>
        <locationX>710</locationX>
        <locationY>2462</locationY>
        <assignmentItems>
            <assignToReference>recordsTaskAssignments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>temprecordTaskassignment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Assignees_to_Assign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assDoesnt_Own_Task</name>
        <label>Doesn&apos;t Own Task</label>
        <locationX>842</locationX>
        <locationY>2126</locationY>
        <assignmentItems>
            <assignToReference>boolOwnsTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_temprecordTaskassignment_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_temprecordTaskassignment_0_0</name>
        <label>Assign to temprecordTaskassignment</label>
        <locationX>710</locationX>
        <locationY>2342</locationY>
        <assignmentItems>
            <assignToReference>temprecordTaskassignment.Krow__End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Created_Task.Krow__Due_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>temprecordTaskassignment.Krow__IsOwner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>boolOwnsTask</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>temprecordTaskassignment.Krow__Krow_Task__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Created_Task.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>temprecordTaskassignment.Krow__Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Created_Task.Krow__Project__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>temprecordTaskassignment.Krow__Project_Resource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Assignees_to_Assign.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>temprecordTaskassignment.Krow__Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Assignees_to_Assign.Krow__Project_Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>temprecordTaskassignment.Krow__Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Created_Task.Krow__Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>temprecordTaskassignment.Krow__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Created_Task.Krow__Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>temprecordTaskassignment.Krow__User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Assignees.Krow__User__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>temprecordTaskassignment.Krow__Hour__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>temprecordTaskassignment.Krow__Percentage_of_Work_Schedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Assignments_to_Create_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assOwns_Task</name>
        <label>Owns Task</label>
        <locationX>578</locationX>
        <locationY>2126</locationY>
        <assignmentItems>
            <assignToReference>boolOwnsTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_temprecordTaskassignment_0_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Debug</name>
        <label>Debug</label>
        <locationX>182</locationX>
        <locationY>1766</locationY>
        <defaultConnector>
            <targetReference>Loop_Assignees_to_Assign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>trueDebug</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>boolDebug</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_User_or_Placeholder</name>
        <label>Owner: User or Placeholder</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Sub_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Placeholder</defaultConnectorLabel>
        <rules>
            <name>ownerUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dtSelectTaskOwner.outputSelectedRow.Krow__Placeholder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sub_Task</targetReference>
            </connector>
            <label>User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owns_Task</name>
        <label>Owns Task?</label>
        <locationX>710</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>assDoesnt_Own_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Assignees_to_Assign.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>dtSelectTaskOwner.outputSelectedRow.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assOwns_Task</targetReference>
            </connector>
            <label>Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sub_Task</name>
        <label>Sub Task?</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Create_Task_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dtParentTasks.numberOfRowsSelected</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>togSubTask.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Sub_Task</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>choice_of_tags</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Tags__c</picklistField>
        <picklistObject>Krow__Task__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>dateToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Add Unass Task from Project Record Page {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Unass Task from Project Record Page</label>
    <loops>
        <name>Loop_Assignees</name>
        <label>Loop Assignees</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <collectionReference>dtAssignees.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Selected_to_New_recordsSelectedAssignees</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Select_the_Owner_of_the_Task</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Assignees_to_Assign</name>
        <label>Loop Assignees to Assign</label>
        <locationX>490</locationX>
        <locationY>1886</locationY>
        <collectionReference>recordsSelectedAssignees</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Owns_Task</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Task_Assignments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Sub_Task</name>
        <label>Create Sub Task</label>
        <locationX>50</locationX>
        <locationY>1310</locationY>
        <assignRecordIdToReference>idCreatedTask</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Created_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>Is_a_Parent_Task__c</field>
            <value>
                <elementReference>Is_a_Parent_Task</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Krow__Description__c</field>
            <value>
                <elementReference>description.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Krow__Due_Date__c</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Krow__Duration__c</field>
            <value>
                <elementReference>Duration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Krow__Estimated_Hours__c</field>
            <value>
                <elementReference>Estimated_Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Krow__Parent_Name_Track__c</field>
            <value>
                <elementReference>dtParentTasks.outputSelectedRow.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Krow__Parent_Task__c</field>
            <value>
                <elementReference>dtParentTasks.outputSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Krow__Parent_Track__c</field>
            <value>
                <elementReference>dtParentTasks.outputSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Krow__Project__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Krow__Schedule_All_Resource__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Krow__Scheduling_Mode__c</field>
            <value>
                <stringValue>Fixed Duration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Krow__Split_Across_Team__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Krow__Start_Date__c</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Live__c</field>
            <value>
                <elementReference>Live</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Task_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>dtSelectTaskOwner.outputSelectedRow.Krow__User__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tags__c</field>
            <value>
                <elementReference>Tags</elementReference>
            </value>
        </inputAssignments>
        <object>Krow__Task__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_0</name>
        <label>Create Task</label>
        <locationX>314</locationX>
        <locationY>1310</locationY>
        <assignRecordIdToReference>idCreatedTask</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Created_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>Is_a_Parent_Task__c</field>
            <value>
                <elementReference>Is_a_Parent_Task</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Krow__Description__c</field>
            <value>
                <elementReference>description.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Krow__Due_Date__c</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Krow__Duration__c</field>
            <value>
                <elementReference>Duration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Krow__Estimated_Hours__c</field>
            <value>
                <elementReference>Estimated_Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Krow__Project_Owner__c</field>
            <value>
                <elementReference>recordId.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Krow__Project__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Krow__Schedule_All_Resource__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Krow__Scheduling_Mode__c</field>
            <value>
                <stringValue>Fixed Duration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Krow__Split_Across_Team__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Krow__Start_Date__c</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Live__c</field>
            <value>
                <elementReference>Live</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Task_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tags__c</field>
            <value>
                <elementReference>Tags</elementReference>
            </value>
        </inputAssignments>
        <object>Krow__Task__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_Assignments</name>
        <label>Create Task Assignments</label>
        <locationX>490</locationX>
        <locationY>2678</locationY>
        <connector>
            <targetReference>Refresh_Project_Screen</targetReference>
        </connector>
        <inputReference>recordsTaskAssignments</inputReference>
    </recordCreates>
    <recordLookups>
        <name>debugGetAutoAsses</name>
        <label>debugGetAutoAsses</label>
        <locationX>182</locationX>
        <locationY>1646</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Debug</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Krow__Krow_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Created_Task.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Krow__Krow_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Created_Task.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Krow__Task_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Created_Task</name>
        <label>Get Created Task</label>
        <locationX>182</locationX>
        <locationY>1526</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>debugGetAutoAsses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idCreatedTask</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Krow__Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Tasks</name>
        <label>Get Parent Tasks</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Project_Resources</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_a_Parent_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Krow__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Krow__Task__c</object>
        <outputReference>recordsParentTasks</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Krow__Project_Task_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Resources</name>
        <label>Get Project Resources</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Krow__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Krow__Project_Resources__c</object>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Create_New_Task</name>
        <label>Create New Task</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Assignees</targetReference>
        </connector>
        <fields>
            <name>hdrCreateTask</name>
            <extensionName>dhfpi:lwcFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <stringValue>Create a New Task</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:record_create</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Live</name>
            <dataType>Boolean</dataType>
            <fieldText>Live?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_a_Parent_Task</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Task_Name</name>
            <dataType>String</dataType>
            <fieldText>Task Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>dtAssignees</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Krow__Project_Resources__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Krow__Project_Resources__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Project_Resources</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Select Resources to Assign</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>not_tableBorder</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressNameFieldLink</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:1000</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>dateToday</elementReference>
            </defaultValue>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Due_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>dateToday</elementReference>
            </defaultValue>
            <fieldText>Due Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(253, 3, 3);&quot;&gt;Due Date must be later than the Start Date&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Due_Date} &gt;= {!Start_Date}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Duration</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>Duration</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 3, 3); font-size: 16px;&quot;&gt;Duration must be a whole number greater than 0.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Duration}&gt;0</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_a_Parent_Task</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Estimated_Hours</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.25</numberValue>
            </defaultValue>
            <fieldText>Estimated Hours (15 min = .25)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_a_Parent_Task</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Tags</name>
            <choiceReferences>choice_of_tags</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tags</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>description</name>
            <extensionName>c:inputRichTextFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>characterLimit</name>
                <value>
                    <numberValue>30000.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Description/Instructions/Protocol</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_a_Parent_Task</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Is_a_Parent_Task</name>
            <dataType>Boolean</dataType>
            <fieldText>Is a Parent Task?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>togSubTask</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Is a Sub Task?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dtParentTasks</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Krow__Task__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Krow__Task__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>recordsParentTasks</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Select the Parent Task</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>not_tableBorder</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressNameFieldLink</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:1000</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>togSubTask.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_the_Owner_of_the_Task</name>
        <label>Select the Owner of the Task</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Owner_User_or_Placeholder</targetReference>
        </connector>
        <fields>
            <name>hdrSelectOwner</name>
            <extensionName>dhfpi:lwcFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <stringValue>Select Owner of Task</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dtSelectTaskOwner</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Krow__Project_Resources__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Krow__Project_Resources__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:1000</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>recordsSelectedAssignees</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressNameFieldLink</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Project Resources</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Parent_Tasks</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>boolDebug</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>boolOwnsTask</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>idCreatedTask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Krow__Project__c</objectType>
    </variables>
    <variables>
        <name>recordOwnerAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Krow__Task_Assignment__c</objectType>
    </variables>
    <variables>
        <name>recordsParentTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Krow__Task__c</objectType>
    </variables>
    <variables>
        <name>recordsSelectedAssignees</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Krow__Project_Resources__c</objectType>
    </variables>
    <variables>
        <name>recordsTaskAssignments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Krow__Task_Assignment__c</objectType>
    </variables>
    <variables>
        <name>temprecordTaskassignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Krow__Task_Assignment__c</objectType>
    </variables>
</Flow>
