force-app/main/default/flows/Add_Remove_All_Assigned_Resource_Names_to_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_Resource_Name_to_Text_Var_0</name>
        <label>Add Resource Name to Text Var</label>
        <locationX>440</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>resourcesConcatenated</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Loop_Assignments.Krow__Project_Resource__r.Name}; </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Assignments</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Skip_Assignment_to_be_Deleted</name>
        <label>Skip Assignment to be Deleted</label>
        <locationX>352</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>Add_Resource_Name_to_Text_Var_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Task_to_be_Deleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Assignments.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Assignments</targetReference>
            </connector>
            <label>Task to be Deleted</label>
        </rules>
    </decisions>
    <description>When a Task Assignment is deleted, concatenate all resource names assigned and store on Task.Resources_Assigned__c</description>
    <interviewLabel>Add/Remove All Assigned Resource Names to Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add/Remove All Assigned Resource Names to Task</label>
    <loops>
        <name>Loop_Assignments</name>
        <label>Loop Assignments</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_All_Assignments_for_Task</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Skip_Assignment_to_be_Deleted</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Resources_Assigned</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Assignments_for_Task</name>
        <label>Get All Assignments for Task</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Assignments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Krow__Krow_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Krow__Krow_Task__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Krow__Task_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Resources_Assigned</name>
        <label>Update Resources Assigned</label>
        <locationX>176</locationX>
        <locationY>983</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Krow__Krow_Task__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Resources_Assigned__c</field>
            <value>
                <elementReference>resourcesConcatenated</elementReference>
            </value>
        </inputAssignments>
        <object>Krow__Task__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Assignments_for_Task</targetReference>
        </connector>
        <object>Krow__Task_Assignment__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>resourcesConcatenated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
