force-app/main/default/flows/Add_New_Checklist_Item_from_Project_Page.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Refresh_Project</name>
        <label>Refresh Project</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <actionName>c:UpdateScreen</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <interviewLabel>Add New Checklist Item from Project Page {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add New Checklist Item from Project Page</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_checklist_item</name>
        <label>create checklist item</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Refresh_Project</targetReference>
        </connector>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>Order_of_Task</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task__c</field>
            <value>
                <elementReference>taskId</elementReference>
            </value>
        </inputAssignments>
        <object>Task_Checklist_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Task</name>
        <label>Get Task</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateChecklistItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>taskId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Krow__Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>CreateChecklistItem</name>
        <label>CreateChecklistItem</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>create_checklist_item</targetReference>
        </connector>
        <fields>
            <name>hdrAddChecklistItem</name>
            <extensionName>dhfpi:lwcFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <stringValue>Add Checklist Item to Task</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <elementReference>Get_Task.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:task</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Order_of_Task</name>
            <dataType>Number</dataType>
            <fieldText>Order of Task (Use Multiples of Ten)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Task</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
