force-app/main/default/flows/After_Purchase_Order_Update_WO_Part_Ordered.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Status</name>
        <label>Status</label>
        <locationX>404</locationX>
        <locationY>162</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ordered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>stage_po</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ordered</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Ordered_WO_Part_Status</targetReference>
            </connector>
            <label>Ordered</label>
        </rules>
        <rules>
            <name>Received</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>stage_po</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Received</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Received_WO_Part_Status_0</targetReference>
            </connector>
            <label>Received</label>
        </rules>
    </decisions>
    <decisions>
        <name>WO</name>
        <label>WO?</label>
        <locationX>281</locationX>
        <locationY>25</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>work_order_id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>After Purchase Order Update WO Part Ordered {!$Flow.CurrentDateTime}</interviewLabel>
    <label>After Purchase Order Update WO Part Ordered</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Ordered_WO_Part_Status</name>
        <label>Update Ordered WO Part Status</label>
        <locationX>609</locationX>
        <locationY>281</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Inventory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inventory_id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>work_order_id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Ordered__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Pick_up_Details__c</field>
            <value>
                <elementReference>delivery_details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Earliest_Delivery_Time__c</field>
            <value>
                <elementReference>earliest_dt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latest_Receiving_Time__c</field>
            <value>
                <elementReference>latest_dt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Method_of_Payment__c</field>
            <value>
                <elementReference>payment_method</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Ordered</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Cost__c</field>
            <value>
                <elementReference>cost</elementReference>
            </value>
        </inputAssignments>
        <object>WO_Part__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Received_WO_Part_Status_0</name>
        <label>Update Received WO Part Status</label>
        <locationX>214</locationX>
        <locationY>286</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>wo_part_po_id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Fulfilled</stringValue>
            </value>
        </inputAssignments>
        <object>WO_Part__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>WO</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>cost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>delivery_details</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>earliest_dt</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inventory_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>invoice_no</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>latest_dt</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>payment_method</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stage_po</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>wo_part_po_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>work_order_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
