force-app/main/default/flows/Assign_Inventory_to_a_New_Location.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>New_or_Exists</name>
        <label>New or Exists</label>
        <locationX>648</locationX>
        <locationY>122</locationY>
        <defaultConnector>
            <targetReference>Location_Exists_Already_No_Action_Taken</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exists</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Location_id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Location_of_Inventory</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>All_Locations</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>TrackIT__Location__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Assign Inventory to a New Location {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign Inventory to a New Location</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Assign_Location_of_Inventory</name>
        <label>Assign Location of Inventory</label>
        <locationX>603</locationX>
        <locationY>354</locationY>
        <inputAssignments>
            <field>TrackIT__Inventory__c</field>
            <value>
                <elementReference>Inventory_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TrackIT__Location_Name__c</field>
            <value>
                <elementReference>Location_to_Assign_Inventory_To</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TrackIT__Quantity__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>TrackIT__Inv_Location__c</object>
    </recordCreates>
    <recordLookups>
        <name>Check_for_Existing_Location_of_Inventory</name>
        <label>Check for Existing Location of Inventory</label>
        <locationX>489</locationX>
        <locationY>78</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_or_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TrackIT__Location_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Location_to_Assign_Inventory_To</elementReference>
            </value>
        </filters>
        <filters>
            <field>TrackIT__Inventory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Inventory_ID</elementReference>
            </value>
        </filters>
        <object>TrackIT__Inv_Location__c</object>
        <outputAssignments>
            <assignToReference>Location_id</assignToReference>
            <field>TrackIT__Location__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Assign_Inventory_New_Location</name>
        <label>Assign Inventory to a New Location</label>
        <locationX>159</locationX>
        <locationY>196</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_for_Existing_Location_of_Inventory</targetReference>
        </connector>
        <fields>
            <name>Location_to_Assign_Inventory_To</name>
            <choiceReferences>All_Locations</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Location to Assign Inventory To</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Location_Exists_Already_No_Action_Taken</name>
        <label>Location Exists Already, No Action Taken.</label>
        <locationX>830</locationX>
        <locationY>118</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Assign_Inventory_New_Location</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Inventory_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentRecord</elementReference>
        </value>
    </variables>
    <variables>
        <name>Location_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
