force-app/main/default/flows/Assign_Inventory_to_Location_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <dynamicChoiceSets>
        <name>location_set</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>TrackIT__Location__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Assign Inventory to Location Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign Inventory to Location Screen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Location_of_Inventory</name>
        <label>Create Location of Inventory</label>
        <locationX>639</locationX>
        <locationY>93</locationY>
        <inputAssignments>
            <field>Max_Storage_Capacity__c</field>
            <value>
                <elementReference>Max_Storage_Capacity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Optimal_Quantity__c</field>
            <value>
                <elementReference>Optimal_Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Restock_Point__c</field>
            <value>
                <elementReference>Restock_Point</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TrackIT__Inventory__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TrackIT__Location__c</field>
            <value>
                <elementReference>Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TrackIT__Quantity__c</field>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </inputAssignments>
        <object>TrackIT__Inv_Location__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Assign_Inventory_to_a_Location</name>
        <label>Assign Inventory to a Location</label>
        <locationX>455</locationX>
        <locationY>82</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Location_of_Inventory</targetReference>
        </connector>
        <fields>
            <name>Location</name>
            <choiceReferences>location_set</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Location</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Quantity</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Restock_Point</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Restock Point</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Optimal_Quantity</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Optimal Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Max_Storage_Capacity</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Max Storage Capacity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>inv_recordId</name>
            <fieldText>&lt;p&gt;{!recordId}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Assign_Inventory_to_a_Location</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
