force-app/main/default/flows/Check_if_Inventory_Needs_to_be_Ordered_based_on_Pos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Sum_Quantities_to_Location_Quantity</name>
        <label>Add Sum Quantities to Location Quantity</label>
        <locationX>592</locationX>
        <locationY>224</locationY>
        <assignmentItems>
            <assignToReference>LocationQuantity_plus_SumQOrdered</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Total_Quantities_Ordered</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LocationQuantity_plus_SumQOrdered</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Location_Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Location_Q_plus_Sum_gt_Restock</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sum_Quantities_Ordered</name>
        <label>Sum Quantities Ordered</label>
        <locationX>645</locationX>
        <locationY>38</locationY>
        <assignmentItems>
            <assignToReference>Total_Quantities_Ordered</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>i_po.Quantity_Ordered__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Location_Q_plus_Sum_gt_Restock</name>
        <label>Location Quantity + Sum &gt; Restock Point</label>
        <locationX>355</locationX>
        <locationY>362</locationY>
        <defaultConnector>
            <targetReference>Mark_Needs_to_be_Ordered_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LocationQuantity_plus_SumQOrdered</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Location_RestockPoint</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_Needs_to_be_Ordered_False</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <description>Sum the quantity of open Pos, if quantity + sum &gt; Restock Point, mark Needs to be Ordered false, else mark true.</description>
    <interviewLabel>Check if Inventory Needs to be Ordered based on Pos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check if Store Inventory Needs to be Ordered based on POs</label>
    <loops>
        <name>Loop_open_POs</name>
        <label>Loop open POs</label>
        <locationX>448</locationX>
        <locationY>40</locationY>
        <assignNextValueToReference>i_po</assignNextValueToReference>
        <collectionReference>Get_Open_POs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sum_Quantities_Ordered</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Sum_Quantities_to_Location_Quantity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Open_POs</name>
        <label>Get Open POs</label>
        <locationX>244</locationX>
        <locationY>78</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_open_POs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Receiving_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ordered</stringValue>
            </value>
        </filters>
        <filters>
            <field>Inventory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Inventory_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Inventory_Purchase__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Quantity_Ordered__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Mark_Needs_to_be_Ordered_False</name>
        <label>Mark Needs to Be Ordered False</label>
        <locationX>511</locationX>
        <locationY>561</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Inventory_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Needs_to_be_Ordered__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>TrackIT__Inventory__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Mark_Needs_to_be_Ordered_True</name>
        <label>Mark Needs to be Ordered True</label>
        <locationX>1006</locationX>
        <locationY>278</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Inventory_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Needs_to_be_Ordered__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>TrackIT__Inventory__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Open_POs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Existing_Open_PO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>i_po</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Inventory_Purchase__c</objectType>
    </variables>
    <variables>
        <name>Inventory_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Location_Quantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Location_RestockPoint</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>LocationQuantity_plus_SumQOrdered</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Total_Quantities_Ordered</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
