force-app/main/default/flows/Clone_ChecklistItems_from_Template_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_to_recordsChecklistItems</name>
        <label>Add to recordsChecklistItems</label>
        <locationX>138</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>recordsChecklistItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tmprecordChecklistItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Template_Checklists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_tmprecordChecklistItem</name>
        <label>Assign tmprecordChecklistItem</label>
        <locationX>138</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>tmprecordChecklistItem.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Template_Checklists.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmprecordChecklistItem.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Template_Checklists.Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmprecordChecklistItem.Task__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_recordsChecklistItems</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_this_Task_Cloned_from_Task_Template</name>
        <label>Is this Task Cloned from Task Template and Checklist Items Exist?</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesClonedfromTaskTamplate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Krow__Template_Task__r.Checklist_Items__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Checklist_Items_from_Template_Task</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Clone ChecklistItems from Template Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clone ChecklistItems from Template Task</label>
    <loops>
        <name>Loop_Template_Checklists</name>
        <label>Loop Template Checklist Items</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <collectionReference>Get_Checklist_Items_from_Template_Task</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_tmprecordChecklistItem</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_ChecklistItems</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_ChecklistItems</name>
        <label>Create ChecklistItems</label>
        <locationX>50</locationX>
        <locationY>854</locationY>
        <inputReference>recordsChecklistItems</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Checklist_Items_from_Template_Task</name>
        <label>Get Checklist Items from Template Task</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Template_Checklists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Krow__Template_Task__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task_Checklist_Item__c</object>
        <sortField>Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_this_Task_Cloned_from_Task_Template</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Krow__Task__c</objectType>
    </variables>
    <variables>
        <name>recordsChecklistItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task_Checklist_Item__c</objectType>
    </variables>
    <variables>
        <name>tmprecordChecklistItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task_Checklist_Item__c</objectType>
    </variables>
</Flow>
