force-app/main/default/flows/ConvLead_Create_Site_Profile_and_Add_to_Project.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <description>Used in Process Builder for Lead</description>
    <interviewLabel>ConvLead, Create Site Profile and Add to Project {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ConvLead, Create Site Profile and Add to Project</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Site_Profile</name>
        <label>Create Site Profile</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignRecordIdToReference>idSiteProfile</assignRecordIdToReference>
        <connector>
            <targetReference>Add_Site_Profile_to_Project</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>recordLead.KrowProject__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes_for_SOW__c</field>
            <value>
                <elementReference>recordLead.ScopeofWork__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>recordLead.KrowProject__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Site_Profile__c</object>
    </recordCreates>
    <recordUpdates>
        <name>Add_Site_Profile_to_Opportunity</name>
        <label>Add Site Profile to Opportunity</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordLead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SOW_Site_Profile__c</field>
            <value>
                <elementReference>recordLead.KrowProject__r.Site_Profile__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Add_Site_Profile_to_Project</name>
        <label>Add Site Profile to Project</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Add_Site_Profile_to_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordLead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Site_Profile__c</field>
            <value>
                <elementReference>idSiteProfile</elementReference>
            </value>
        </inputAssignments>
        <object>Krow__Project__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Site_Profile</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>idSiteProfile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
