force-app/main/default/flows/Copy_Location_of_Inventory.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Change_LOI</name>
        <label>Change LOI</label>
        <locationX>645</locationX>
        <locationY>204</locationY>
        <assignmentItems>
            <assignToReference>Loop.TrackIT__Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a3W1U000000S4YVUA0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop.TrackIT__Location_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TR022 White F350 Utility - B. Site Concrete</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Copy Location of Inventory {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Copy Location of Inventory</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>466</locationX>
        <locationY>211</locationY>
        <collectionReference>Get_LOI_to_Copy</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Change_LOI</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Bulk_Create</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Bulk_Create</name>
        <label>Bulk Create</label>
        <locationX>719</locationX>
        <locationY>330</locationY>
        <inputReference>Get_LOI_to_Copy</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_LOI</name>
        <label>Create New LOI</label>
        <locationX>500</locationX>
        <locationY>429</locationY>
        <inputAssignments>
            <field>Max_Storage_Capacity__c</field>
            <value>
                <elementReference>Loop.Max_Storage_Capacity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Optimal_Quantity__c</field>
            <value>
                <elementReference>Loop.Optimal_Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reserved_Quantity__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Restock_Point__c</field>
            <value>
                <elementReference>Loop.Restock_Point__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TrackIT__Inventory__c</field>
            <value>
                <elementReference>Loop.TrackIT__Inventory__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TrackIT__Location__c</field>
            <value>
                <stringValue>a3W1U000000S4YVUA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TrackIT__Quantity__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>TrackIT__Inv_Location__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_LOI_to_Copy</name>
        <label>Get LOI to Copy</label>
        <locationX>317</locationX>
        <locationY>273</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TrackIT__Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a3W1U000000it28UAA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TrackIT__Inv_Location__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_LOI_to_Copy</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>NewLOI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TrackIT__Inv_Location__c</objectType>
    </variables>
</Flow>
