force-app/main/default/flows/Create_New_Project_Task_Template.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Open_New_Project_Task_Template</name>
        <label>Open New Project Task Template</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>Create_New_Project_Task_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>record</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <formulas>
        <name>prefixedTmplName</name>
        <dataType>String</dataType>
        <expression>&quot;Tmpl - &quot; &amp; {!Descriptive_Name}</expression>
    </formulas>
    <interviewLabel>Create New Project Task Template {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create New Project Task Template</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Project_Task_Template</name>
        <label>Create New Project Task Template</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Open_New_Project_Task_Template</targetReference>
        </connector>
        <inputAssignments>
            <field>Krow__Archived__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Krow__Billable__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Krow__Completion_Method__c</field>
            <value>
                <stringValue>Milestone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Krow__Currency__c</field>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Krow__Default_Duration_Scale__c</field>
            <value>
                <stringValue>Day</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Krow__Default_Scheduling_Mode__c</field>
            <value>
                <stringValue>Fixed Duration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Krow__Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Krow__Exclude_from_Planner__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Krow__Global_Project__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Krow__Include_Weekend__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Krow__Include_in_Utilization__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Krow__Project_Type__c</field>
            <value>
                <stringValue>Milestone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Krow__Schedule_Resource__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Krow__Task_Template__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>prefixedTmplName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121U000000KRNyQAO</stringValue>
            </value>
        </inputAssignments>
        <object>Krow__Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>scrNewTaskTemplate</name>
        <label>scrNewTaskTemplate</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_New_Project_Task_Template</targetReference>
        </connector>
        <fields>
            <name>msgHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Create a New Task Template. &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Insert Existing Task Template(s) when finished.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Descriptive_Name</name>
            <dataType>String</dataType>
            <fieldText>Descriptive Name (70 chars max &quot;Tmpl - &quot; will be prefixed))</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description (robust and clear with reasons to use it, etc)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Create a New Project Task Template</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>scrNewTaskTemplate</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
