force-app/main/default/flows/Create_Job_from_Opportunity_and_Update_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>If_Existing_Job_Linked</name>
        <label>If Existing Job Linked</label>
        <locationX>646</locationX>
        <locationY>268</locationY>
        <defaultConnector>
            <targetReference>Link_Create_New_Job</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Opportunity</defaultConnectorLabel>
        <rules>
            <name>Existing_Job_Linked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>linked_jobId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Oppt_changes_on_Job</targetReference>
            </connector>
            <label>Existing Job Linked</label>
        </rules>
    </decisions>
    <description>For use in Process Builder. When an opportunity is created, create a Job record and update the Opportunity with the newly created Job record id. If opportunity and job link exists, update fields from Oppt. Update Job.Status if Oppt.stage &lt; won/lost.</description>
    <interviewLabel>Create Job from Opportunity and Update Opportunity {!$Flow.CurrentDateTime}. 
Opp ID: {!oppId}
Job ID: {!linked_jobId}</interviewLabel>
    <label>Create/Update Oppt/Job Link</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Link_Create_New_Job</name>
        <label>Link &amp; Create New Job</label>
        <locationX>898</locationX>
        <locationY>272</locationY>
        <connector>
            <targetReference>Update_Job_on_Oppt</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_All_Opportunity_Info.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>Get_All_Opportunity_Info.job_location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>Get_All_Opportunity_Info.job_city__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Google_Map_Link__c</field>
            <value>
                <elementReference>Get_All_Opportunity_Info.Google_Map_URL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Status__c</field>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Landmarks__c</field>
            <value>
                <elementReference>Get_All_Opportunity_Info.Landmarks__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_All_Opportunity_Info.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nearest_Cross_St__c</field>
            <value>
                <elementReference>Get_All_Opportunity_Info.Confirm_Cross_St__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Stage__c</field>
            <value>
                <elementReference>Get_All_Opportunity_Info.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Get_All_Opportunity_Info.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Slack_Channel__c</field>
            <value>
                <elementReference>Get_All_Opportunity_Info.Slack_Channel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>Get_All_Opportunity_Info.job_state__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zip_Code__c</field>
            <value>
                <elementReference>Get_All_Opportunity_Info.job_zip__c</elementReference>
            </value>
        </inputAssignments>
        <object>Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Check_for_Existing_Job</name>
        <label>Check for Existing Job</label>
        <locationX>466</locationX>
        <locationY>353</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Existing_Job_Linked</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_All_Opportunity_Info.Thunder_Road_Job_Record__c</elementReference>
            </value>
        </filters>
        <object>Job__c</object>
        <outputAssignments>
            <assignToReference>linked_jobId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Opportunity_Info</name>
        <label>Get All Opportunity Info</label>
        <locationX>211</locationX>
        <locationY>344</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Existing_Job</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oppId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Job_on_Oppt</name>
        <label>Update Oppt.job</label>
        <locationX>1102</locationX>
        <locationY>295</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oppId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Thunder_Road_Job_Record__c</field>
            <value>
                <elementReference>Link_Create_New_Job</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Oppt_changes_on_Job</name>
        <label>Update Job w/ Status</label>
        <locationX>659</locationX>
        <locationY>586</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oppId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>Get_All_Opportunity_Info.job_location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>Get_All_Opportunity_Info.job_city__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Google_Map_Link__c</field>
            <value>
                <elementReference>Get_All_Opportunity_Info.Google_Map_URL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Landmarks__c</field>
            <value>
                <elementReference>Get_All_Opportunity_Info.Landmarks__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_All_Opportunity_Info.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nearest_Cross_St__c</field>
            <value>
                <elementReference>Get_All_Opportunity_Info.Confirm_Cross_St__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Stage__c</field>
            <value>
                <elementReference>Get_All_Opportunity_Info.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Slack_Channel__c</field>
            <value>
                <elementReference>Get_All_Opportunity_Info.Slack_Channel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>Get_All_Opportunity_Info.job_state__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zip_Code__c</field>
            <value>
                <elementReference>Get_All_Opportunity_Info.job_zip__c</elementReference>
            </value>
        </inputAssignments>
        <object>Job__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_All_Opportunity_Info</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>linked_jobId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
