force-app/main/default/flows/Create_All_Objects_from_Existing_Opportunities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Job_Exists</name>
        <label>Job Exists?</label>
        <locationX>638</locationX>
        <locationY>127</locationY>
        <defaultConnector>
            <targetReference>Create_Related_Job</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>job_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>jobId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Job_Record</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <description>Loop through existing opportunities and create Job and Inventory Assignee related records</description>
    <interviewLabel>Create All Objects from Existing Opportunities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create All Objects from Existing Opportunities</label>
    <loops>
        <name>Loop_Opps</name>
        <label>Loop Opps</label>
        <locationX>201</locationX>
        <locationY>340</locationY>
        <assignNextValueToReference>loopOpp</assignNextValueToReference>
        <collectionReference>objOpportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Find_Existing_Job</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Related_Job</name>
        <label>Create Related Job</label>
        <locationX>882</locationX>
        <locationY>220</locationY>
        <assignRecordIdToReference>jobId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Job_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>loopOpp.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>loopOpp.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>loopOpp.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Job__c</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Existing_Job</name>
        <label>Find Existing Job</label>
        <locationX>445</locationX>
        <locationY>172</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Job_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopOpp.Id</elementReference>
            </value>
        </filters>
        <object>Job__c</object>
        <outputAssignments>
            <assignToReference>jobId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get all opportunity records</description>
        <name>Get_Opportunity_Info_0</name>
        <label>Get Opportunity Info</label>
        <locationX>158</locationX>
        <locationY>148</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Opps</targetReference>
        </connector>
        <object>Opportunity</object>
        <outputReference>objOpportunity</outputReference>
        <queriedFields>Thunder_Road_Job_Record__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Job_Record</name>
        <label>Update Job Record</label>
        <locationX>696</locationX>
        <locationY>614</locationY>
        <connector>
            <targetReference>Update_Opportunity_Related_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopOpp.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>loopOpp.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Related_Fields</name>
        <label>Update Opportunity Related Fields</label>
        <locationX>260</locationX>
        <locationY>580</locationY>
        <connector>
            <targetReference>Loop_Opps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopOpp.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Thunder_Road_Job_Record__c</field>
            <value>
                <elementReference>jobId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Opportunity_Info_0</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>acctId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>new assignee record id</description>
        <name>assId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>jobId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loopOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>objOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>oppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oppName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
