force-app/main/default/flows/Deduct_Consumed_Job_Quantity_from_Location_of_Inventory.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Deducting_Quantity</name>
        <label>Deduct Quantity</label>
        <locationX>365</locationX>
        <locationY>30</locationY>
        <assignmentItems>
            <assignToReference>new_quant</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Location_of_Inventory_Quantity.TrackIT__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_quant</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>quantity_used</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Deduct_Quantity</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Deduct Consumed Job Quantity from Location of Inventory {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deduct Consumed Job Quantity from Location of Inventory</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Location_of_Inventory_Quantity</name>
        <label>Get Location of Inventory Quantity</label>
        <locationX>163</locationX>
        <locationY>103</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Deducting_Quantity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TrackIT__Inventory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inventory_id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TrackIT__Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>location_id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TrackIT__Inv_Location__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>TrackIT__Quantity__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Deduct_Quantity</name>
        <label>Deduct Location of Inventory Quantity</label>
        <locationX>594</locationX>
        <locationY>67</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TrackIT__Inventory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inventory_id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TrackIT__Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>location_id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TrackIT__Quantity__c</field>
            <value>
                <elementReference>new_quant</elementReference>
            </value>
        </inputAssignments>
        <object>TrackIT__Inv_Location__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Location_of_Inventory_Quantity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>inventory_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>location_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>new_quant</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>quantity_used</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
