force-app/main/default/flows/Delete_Project_before_Lead_Deletion_Lead_Action_Button.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Go_to_Open_Leads_List</name>
        <label>Go to Open Leads List</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>url</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationUrl</name>
            <value>
                <stringValue>https://thundernj.lightning.force.com/lightning/o/Lead/list?filterName=00B1U000008BRamUAG</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <constants>
        <name>yes</name>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </constants>
    <formulas>
        <name>noDelete</name>
        <dataType>String</dataType>
        <expression>&quot;The Lead &amp; Task Project for&quot; &amp; {!recordId.Company} &amp; &quot;will NOT be Deleted.&quot;</expression>
    </formulas>
    <formulas>
        <name>yesDelete</name>
        <dataType>String</dataType>
        <expression>&quot;PRESS FINISH TO DELETE THE LEAD AND TASK PROJECT FOR &quot; &amp;  {!recordId.Company}</expression>
    </formulas>
    <interviewLabel>Delete Project before Lead Deletion (Lead Action Button) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete Project before Lead Deletion (Lead Action Button)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_Lead</name>
        <label>Delete Lead</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Go_to_Open_Leads_List</targetReference>
        </connector>
        <inputReference>recordId</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Project</name>
        <label>Delete Project</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Delete_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.KrowProject__c</elementReference>
            </value>
        </filters>
        <object>Krow__Project__c</object>
    </recordDeletes>
    <screens>
        <name>Delete_Lead_Screen</name>
        <label>Delete Lead Screen</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Delete_Project</targetReference>
        </connector>
        <fields>
            <name>txtDeleteLead</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 18, 18); font-size: 24px;&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;To Delete the Lead and Project for &lt;/span&gt;&lt;b style=&quot;font-size: 24px; color: rgb(215, 14, 14);&quot;&gt;{!recordId.Company} &lt;/b&gt;&lt;b style=&quot;font-size: 24px; color: rgb(8, 8, 8);&quot;&gt;confirm using the toggle below then&lt;/b&gt;&lt;b style=&quot;font-size: 24px; color: rgb(215, 14, 14);&quot;&gt; &lt;/b&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;click Finish.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;To Cancel Deletion use the X top right above this popup window or &apos;Esc&apos; on the Keyboard.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>toggleDelete</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Confirm Deleting</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <elementReference>noDelete</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <elementReference>yesDelete</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Delete_Lead_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
