force-app/main/default/flows/Delete_Oppty.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Go_to_RFPs</name>
        <label>Go to RFPs</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>list</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationActionFilter</name>
            <value>
                <stringValue>00B1U00000EhwpvUAB</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationName</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>object</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>decDelete</name>
        <label>Delete?</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Cancel</defaultConnectorLabel>
        <rules>
            <name>yesDelete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>togSure.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Job</targetReference>
            </connector>
            <label>Delete</label>
        </rules>
    </decisions>
    <interviewLabel>Delete Oppty {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete Oppty</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_Job</name>
        <label>Delete Job</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Delete_Project</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Thunder_Road_Job_Record__c</elementReference>
            </value>
        </filters>
        <object>Job__c</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Project</name>
        <label>Delete Project</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Go_to_RFPs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.KrowProject__c</elementReference>
            </value>
        </filters>
        <object>Krow__Project__c</object>
    </recordDeletes>
    <screens>
        <name>You_Are_About_to_Delete_this_Opportunity</name>
        <label>You Are About to Delete this Opportunity!</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>decDelete</targetReference>
        </connector>
        <fields>
            <name>togSure</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>ARE YOU SURE YOU WANT TO DELETE THIS OPPORTUNITY ALL RELATED OBJECTS?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes, Delete</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No, Don&apos;t Delete!</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>You_Are_About_to_Delete_this_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
