force-app/main/default/flows/Delete_Empty_Staging_Receiving_Location_of_Inventory_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <constants>
        <name>delete_lock</name>
        <dataType>String</dataType>
        <value>
            <stringValue>DELETE</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Key_Fit_Lock</name>
        <label>Key Fit Lock?</label>
        <locationX>233</locationX>
        <locationY>74</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>delete_key</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>delete_lock</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Used in Process Builder</description>
    <interviewLabel>Delete Empty Staging/Receiving Location of Inventory Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete Empty Staging/Receiving Location of Inventory Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Record</name>
        <label>Delete Record</label>
        <locationX>395</locationX>
        <locationY>68</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>location_of_inventory_record_id</elementReference>
            </value>
        </filters>
        <object>TrackIT__Inv_Location__c</object>
    </recordDeletes>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Key_Fit_Lock</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>delete_key</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>NO</stringValue>
        </value>
    </variables>
    <variables>
        <name>location_of_inventory_record_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
</Flow>
