force-app/main/default/flows/Display_All_Oppty_Tasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <description>Oppty Page Component</description>
    <interviewLabel>Display All Oppty Tasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Display Oppty Tasks</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Open_Krow_Tasks</name>
        <label>Get Oppty Tasks</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Oppty_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Krow__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.KrowProject__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Krow__Milestone__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Krow__Task__c</object>
        <sortField>Krow__Project_Task_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Oppty_Tasks</name>
        <label>Oppty Tasks</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>dtOpptyTasks</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Krow__Task__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Krow__Task__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Open_Krow_Tasks</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Krow__Project_Task_Order__c,Name,Descr__c,Checklist__c,Krow__Start_Date__c,Krow__Start_Time__c,Krow__Due_Date__c,Krow__End_Time__c,OwnerName__c,Krow__Status__c,Krow__Completion_Date__c,Krow__Predecessor_Tasks_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Krow__Project_Task_Order__c:50, Name:226, Descr__c:50, Checklist__c:50, Krow__Start_Date__c:104, Krow__Start_Time__c:90, Krow__Due_Date__c:111, Krow__End_Time__c:90, OwnerName__c:90, Krow__Status__c:90, Krow__Completion_Date__c:127, Krow__Predecessor_Tasks_Name__c:414</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Krow__Project_Task_Order__c:false, Name:true, Descr__c:false, Checklist__c:false, Krow__Start_Date__c:false, Krow__Start_Time__c:false, Krow__Due_Date__c:false, Krow__End_Time__c:false, OwnerName__c:false, Krow__Predecessor_Tasks_Name__c:true, Krow__Status__c:false, Krow__Completion_Date__c:false</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Tasks (Click Name for more info &amp; Update Task)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:task</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>Krow__Start_Date__c:true, Krow__Due_Date__c:true, OwnerName__c:true, Krow__Status__c:true, Krow__Completion_Date__c:true, Krow__Milestone__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnIcons</name>
                <value>
                    <stringValue>Krow__Project_Task_Order__c:utility:number_input, Descr__c:utility:note, Checklist__c:utility:multi_select_checkbox, Krow__Start_Date__c:utility:date_input, Krow__Start_Time__c:utility:clock, Krow__Due_Date__c:utility:date_input, Krow__End_Time__c:utility:clock, OwnerName__c:utility:user, Krow__Predecessor_Tasks_Name__c:utility:contact_request</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Descr__c:, Checklist__c:, Krow__Start_Date__c:Start, Krow__Start_Time__c:Start, Krow__Due_Date__c:Due, Krow__End_Time__c:End, OwnerName__c:, Krow__Completion_Date__c:Complete</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Open_Krow_Tasks</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>krowprojectid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>krowtaskids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
