force-app/main/default/flows/Display_Tasks_Component.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Project_Id</name>
        <label>Assign Project Id</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>assignedProjectId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_project_record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Open_Krow_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project_Id_from_Oppty</name>
        <label>Assign Project Id from Oppty</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>assignedProjectId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_opportunity_record.KrowProject__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Open_Krow_Tasks</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Oppty_or_Project</name>
        <label>Oppty or Project</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Assign_Project_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Project</defaultConnectorLabel>
        <rules>
            <name>outcomeOppty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_opportunity_record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Project_Id_from_Oppty</targetReference>
            </connector>
            <label>Oppty</label>
        </rules>
    </decisions>
    <description>component for Project/Opportunity Page</description>
    <interviewLabel>Display Tasks Component {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Display Tasks Component</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Open_Krow_Tasks</name>
        <label>Get Tasks</label>
        <locationX>182</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Krow__Milestone__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Krow__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>assignedProjectId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Krow__Task__c</object>
        <sortField>Krow__Project_Task_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Tasks</name>
        <label>Tasks</label>
        <locationX>182</locationX>
        <locationY>614</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>dtOpptyTasks</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Krow__Task__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Krow__Task__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Open_Krow_Tasks</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Update_Task__c,Krow__Project_Task_Order__c,Name,Descr__c,Checklist__c,Krow__Start_Date__c,Krow__Due_Date__c,DOW_Due__c,Krow__Start_Time__c,Krow__End_Time__c,Krow__Status__c,Krow__Estimated_Hours__c,Actual_Hours__c,Krow__Completion_Date__c,Krow__Predecessor_Tasks_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Update_Task__c:50, Krow__Project_Task_Order__c:50, Name:226, Descr__c:50, Checklist__c:50, Krow__Start_Date__c:104, Krow__Due_Date__c:111, DOW_Due__c:73, Krow__Start_Time__c:90, Krow__End_Time__c:90, Krow__Status__c:90, Krow__Estimated_Hours__c:64, Actual_Hours__c:68, Krow__Completion_Date__c:127, Krow__Predecessor_Tasks_Name__c:414</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Krow__Project_Task_Order__c:false, Name:true, Descr__c:false, Checklist__c:false, Krow__Start_Date__c:false, Krow__Start_Time__c:false, Krow__Due_Date__c:false, Krow__End_Time__c:false, OwnerName__c:false, Krow__Predecessor_Tasks_Name__c:true, Krow__Status__c:false, Krow__Completion_Date__c:false</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>All Tasks - Completed are Filterable (Click Link for More Info/Update Task)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:task</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>Name:true, Descr__c:true, Checklist__c:true, Krow__Start_Date__c:true, Krow__Due_Date__c:true, DOW_Due__c:true, Krow__Status__c:true, Krow__Completion_Date__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnIcons</name>
                <value>
                    <stringValue>Update_Task__c:utility:record_update, Krow__Project_Task_Order__c:utility:number_input, Descr__c:utility:note, Checklist__c:utility:multi_select_checkbox, Krow__Start_Date__c:utility:date_input, Krow__Due_Date__c:utility:date_input, Krow__Start_Time__c:utility:clock, Krow__End_Time__c:utility:clock, Krow__Predecessor_Tasks_Name__c:utility:contact_request</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Update_Task__c:, Descr__c:, Checklist__c:, Krow__Start_Date__c:Start, Krow__Due_Date__c:Due, DOW_Due__c:Day Due, Krow__Start_Time__c:Start, Krow__End_Time__c:End, Krow__Estimated_Hours__c:Est, Actual_Hours__c:Actl, Krow__Completion_Date__c:Complete</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressNameFieldLink</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>not_suppressNameFieldLink</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Oppty_or_Project</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>assignedProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>input_opportunity_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>input_project_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Krow__Project__c</objectType>
    </variables>
</Flow>
