force-app/main/default/flows/Email_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <formulas>
        <name>to_emails</name>
        <dataType>String</dataType>
        <expression>{!Get_Lead.Email}  &amp; IF(ISBLANK({!Get_Lead.Second_Email__c}), &quot;&quot;, &quot;,&quot; &amp; {!Get_Lead.Second_Email__c}) &amp; IF(ISBLANK({!Get_Lead.Third_Email__c}), &quot;&quot;, &quot;,&quot; &amp; {!Get_Lead.Third_Email__c})</expression>
    </formulas>
    <interviewLabel>Email Lead {!$Flow.CurrentDateTime} Lead:{!recordId}</interviewLabel>
    <label>Email Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Lead_mail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Send_Lead_mail</name>
        <label>Send Lead mail</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>hit_send</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(234, 3, 3);&quot;&gt;Remember to click the &apos;SEND&apos; button. &apos;Finish&apos; only closes this window.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LeadEmail</name>
            <extensionName>Email_Composer:FlowEmailComposer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>logEmail</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>emailTemplateId</name>
                <value>
                    <stringValue>00X1U000000dn9L</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fromAddress</name>
                <value>
                    <stringValue>info@teslaconcretcutting.com</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideTemplateSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>toAddresses</name>
                <value>
                    <elementReference>to_emails</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whoId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>footerreminder</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(234, 3, 3);&quot;&gt;Remember to click the &apos;SEND&apos; button. &apos;Finish&apos; only closes this window.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
