force-app/main/default/flows/Flow_Button_to_Change_the_Custom_Start_Date_on_a_Project.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Change_Date_on_Project</name>
        <label>Change Date on Project</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>recordId.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Change_the_Start_Date_To</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Project</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Flow Button to Change the Custom Start Date on a Project {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow Button to Change the Custom Start Date on a Project</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Save_Project</name>
        <label>Save Project</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <screens>
        <name>Screen_Change_Start_Date</name>
        <label>Screen Change Start Date</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Change_Date_on_Project</targetReference>
        </connector>
        <fields>
            <name>Change_the_Start_Date_To</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>recordId.Start_Date__c</elementReference>
            </defaultValue>
            <fieldText>Change the Start Date To</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_Change_Start_Date</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Krow__Project__c</objectType>
    </variables>
</Flow>
