force-app/main/default/flows/Import.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Import_Phone_Interview_Task_Template</name>
        <label>Import Phone Interview Task Template</label>
        <locationX>351</locationX>
        <locationY>168</locationY>
        <actionName>Krow__CloneTemplateProjectAPI</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Wait_for_Krow_API_to_finish</targetReference>
        </connector>
        <inputParameters>
            <name>New_Project_Name</name>
            <value>
                <elementReference>new_project_name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>New_Project_Id</name>
            <value>
                <elementReference>project_record_id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>taskTemplateProjectIds</name>
            <value>
                <elementReference>task_template_id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <description>Pause and subflow</description>
    <interviewLabel>Import {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Import Task Job Candidate Phone Interview</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Import_Phone_Interview_Task_Template</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Add_Start_Time</name>
        <label>Add Start Time</label>
        <locationX>741</locationX>
        <locationY>193</locationY>
        <flowName>Subflow_Update_Task_Start_End_Times</flowName>
        <inputAssignments>
            <name>end_time</name>
            <value>
                <elementReference>due_time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flow_identifier</name>
            <value>
                <stringValue>ConductPhoneInterview</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>project_record_id</name>
            <value>
                <elementReference>project_record_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>start_time</name>
            <value>
                <elementReference>start_time</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_Task_Start_Due_Dates</name>
        <label>Update Task Start Due Dates</label>
        <locationX>612</locationX>
        <locationY>220</locationY>
        <connector>
            <targetReference>Add_Start_Time</targetReference>
        </connector>
        <flowName>Subflow_Update_Task_Start_Due_Dates</flowName>
        <inputAssignments>
            <name>due_date</name>
            <value>
                <elementReference>due_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flow_identifier</name>
            <value>
                <stringValue>ConductPhoneInterview</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>project_record_id</name>
            <value>
                <elementReference>project_record_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>start_date</name>
            <value>
                <elementReference>start_date</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>due_date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>due_time</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>12:01 PM</stringValue>
        </value>
    </variables>
    <variables>
        <name>new_project_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>project_record_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>start_date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>start_time</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>12:00 PM</stringValue>
        </value>
    </variables>
    <variables>
        <name>task_flow_identifier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>task_template_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Wait_for_Krow_API_to_finish</name>
        <label>Wait for Krow API to finish</label>
        <locationX>487</locationX>
        <locationY>90</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Pause</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Update_Task_Start_Due_Dates</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Pause</label>
        </waitEvents>
    </waits>
</Flow>
