force-app/main/default/flows/Inv_Consumption_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <description>changed from job object to project object</description>
    <dynamicChoiceSets>
        <name>locations</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>TrackIT__Location__c</object>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>projects</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>1 AND 2 AND (3 OR 4) AND 5 AND 6</filterLogic>
        <filters>
            <field>IsDeleted</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Krow__Archived__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Krow__Project_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unscheduled Job</stringValue>
            </value>
        </filters>
        <filters>
            <field>Krow__Project_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Job</stringValue>
            </value>
        </filters>
        <filters>
            <field>Krow__Task_Template__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Krow__Project_Template__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Krow__Project__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Inv Consumption Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Inv Consumption Screen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Consumption_Record</name>
        <label>Create Consumption Record</label>
        <locationX>638</locationX>
        <locationY>75</locationY>
        <inputAssignments>
            <field>Inventory__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>From_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>Which_Job</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity_Used__c</field>
            <value>
                <elementReference>Quantity_Used</elementReference>
            </value>
        </inputAssignments>
        <object>Job_Inventory_Consumption__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Inventory_Consumption</name>
        <label>Inventory Consumption</label>
        <locationX>436</locationX>
        <locationY>70</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Consumption_Record</targetReference>
        </connector>
        <fields>
            <name>inv_record_id</name>
            <fieldText>&lt;p&gt;{!inv_record.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>From_Location</name>
            <choiceReferences>locations</choiceReferences>
            <dataType>String</dataType>
            <fieldText>From Location</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Quantity_Used</name>
            <dataType>Number</dataType>
            <fieldText>Quantity Used</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Which_Job</name>
            <choiceReferences>projects</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which Job?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Inventory_Consumption</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>inv_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>TrackIT__Inventory__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
