force-app/main/default/flows/Inventory_Left_on_Job.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Deduct_Quantity</name>
        <label>Deduct Quantity</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>Get_Location_of_Inventory.TrackIT__Quantity__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>$Record.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Location_of_Inventory</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Inventory Left on Job {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Inventory Left on Job</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Location_of_Inventory</name>
        <label>Get Location of Inventory</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Deduct_Quantity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TrackIT__Inventory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Inventory__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TrackIT__Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.From_Location__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TrackIT__Inv_Location__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Save_Location_of_Inventory</name>
        <label>Save Location of Inventory</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <inputReference>Get_Location_of_Inventory</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Location_of_Inventory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quantity__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Inventory_Left_on_Job__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
