force-app/main/default/flows/Krow_Task_Relationships_After_SF_Task_Sync.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_Project_to_Task1</name>
        <label>Add Project, Date/Time to Task</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>krow_task.Krow__Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a2W1U000000eW8FUAU</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>krow_task.Krow__Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lead_task.synety__Actual_Date_Time_of_Call__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>krow_task.Krow__End_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>start_time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>krow_task.Krow__Start_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>start_time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>krow_task.Krow__Planned_Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lead_task.ActivityDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>krow_task.Krow__Planned_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lead_task.ActivityDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>krow_task.Krow__Duration_Scale__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Minute</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>krow_task.Krow__Duration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>30.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateKrowTask</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Krow_Synced_to_a_Lead_Task</name>
        <label>Is Krow Synced to a Lead Task?</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>synced_lead_task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lead_task.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>krow_task.Krow__SFDC_TaskId__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>lead_task.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0121U000000KSfZQAW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_Project_Resource_from_Task_User</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Krow_User_assigned_to_Lead_Task</name>
        <label>Krow User assigned to Lead Task?</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Krow_User_assigned_to_Lead_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>project_resource.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Krow_Task</targetReference>
            </connector>
            <label>YesYes</label>
        </rules>
    </decisions>
    <description>Activity Date and Time as Due Date and Time handle call tasks 
Added TZ offset 5/24
Added Planned Start and Due to Krow Task
Added 30 min duration</description>
    <formulas>
        <name>start_time</name>
        <dataType>String</dataType>
        <expression>IF(
  OR(
    VALUE( MID( TEXT({!lead_task.synety__Actual_Date_Time_of_Call__c} - 5 ), 12, 2 ) ) = 0,
    VALUE( MID( TEXT({!lead_task.synety__Actual_Date_Time_of_Call__c} - 5/24), 12, 2 ) ) = 12
  ),
  &quot;12&quot;,
  TEXT( VALUE( MID( TEXT({!lead_task.synety__Actual_Date_Time_of_Call__c} - 5/24 ), 12, 2 ) ) 
   -
   IF( 
     VALUE( MID( TEXT({!lead_task.synety__Actual_Date_Time_of_Call__c} -5 /24), 12, 2 ) ) &lt; 12, 
     0, 
     12 
   ) 
  )
)
&amp; &quot;:&quot; &amp;
MID( TEXT({!lead_task.synety__Actual_Date_Time_of_Call__c} -5/24 ), 15, 2 )

&amp; &quot; &quot; &amp;
IF(
  VALUE( MID( TEXT({!lead_task.synety__Actual_Date_Time_of_Call__c} -5 /24), 12, 2 ) ) &lt; 12,
  &quot;AM&quot;,
  &quot;PM&quot;
)</expression>
    </formulas>
    <interviewLabel>Krow Task Relationships After SF Task Sync {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Krow Task Relationships After SF Task Sync</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Assign_Krow_Task</name>
        <label>Assign Krow Task</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Add_Project_to_Task1</targetReference>
        </connector>
        <inputAssignments>
            <field>Krow__Cost_Rate__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Krow__End_Date__c</field>
            <value>
                <elementReference>lead_task.ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Krow__Hold__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Krow__IsOwner__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Krow__Krow_Task__c</field>
            <value>
                <elementReference>krow_task.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Krow__Project_Assignment__c</field>
            <value>
                <stringValue>a2L1U000000eQFkUAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Krow__Project_Resource__c</field>
            <value>
                <elementReference>project_resource.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Krow__Project__c</field>
            <value>
                <stringValue>a2W1U000000eW8FUAU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Krow__Role__c</field>
            <value>
                <stringValue>a271U000001RphcQAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Krow__Start_Date__c</field>
            <value>
                <elementReference>lead_task.ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Krow__Status__c</field>
            <value>
                <stringValue>Booked</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Krow__User__c</field>
            <value>
                <elementReference>lead_task.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Krow__Task_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Query_Project_Resource_from_Task_User</name>
        <label>Query Project Resource from Task User</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Krow_User_assigned_to_Lead_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Krow__User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>lead_task.OwnerId</elementReference>
            </value>
        </filters>
        <object>Krow__Project_Resources__c</object>
        <outputReference>project_resource</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Query_Synced_Lead_Task</name>
        <label>Query Synced Lead Task</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Krow_Synced_to_a_Lead_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>krow_task.Krow__SFDC_TaskId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0121U000000KSfZQAW</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>lead_task</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WhoId</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>ActivityDate</queriedFields>
        <queriedFields>synety__Actual_Date_Time_of_Call__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>WhatId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateKrowTask</name>
        <label>Update Krow Task</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <inputReference>krow_task</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Query_Synced_Lead_Task</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>krow_task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Krow__Task__c</objectType>
    </variables>
    <variables>
        <name>lead_task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>project_resource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Krow__Project_Resources__c</objectType>
    </variables>
</Flow>
