force-app/main/default/flows/Lead_Job_Address_Picker.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Address_to_Lead</name>
        <label>Assign Address to Lead</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead_Record.Longitude__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>addressPickerCmp.longitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead_Record.Latitude__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>addressPickerCmp.latitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead_Record.JobSiteAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>addressPickerCmp.fullStreetAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead_Record.JobSiteCity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>addressPickerCmp.locality</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead_Record.JobSiteState__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>addressPickerCmp.administrative_area_level_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead_Record.JobSiteZipCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>addressPickerCmp.postal_code</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_Lead_with_Job_Site_Address</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>picker_title</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Potential Job Address Picker</stringValue>
        </value>
    </constants>
    <description>Pop Up to Pick Address for Jobsite using Google Maps</description>
    <interviewLabel>Find Address Flow {!$Flow.CurrentDateTime}; Lead: {!recordId}</interviewLabel>
    <label>Lead Job Address Picker</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Lead_Record</name>
        <label>Get Lead Record</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Latitude__c</queriedFields>
        <queriedFields>Longitude__c</queriedFields>
        <queriedFields>JobSiteAddress__c</queriedFields>
        <queriedFields>JobSiteCity__c</queriedFields>
        <queriedFields>JobSiteState__c</queriedFields>
        <queriedFields>JobSiteZipCode__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_Lead_with_Job_Site_Address</name>
        <label>Update the Lead with Job Site Address</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <inputReference>Get_Lead_Record</inputReference>
    </recordUpdates>
    <screens>
        <name>Find_Address</name>
        <label>Search Google Maps to Confirm</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Address_to_Lead</targetReference>
        </connector>
        <fields>
            <name>picker_instructions</name>
            <fieldText>&lt;p&gt;Use the Address Search field and select the address from Google Maps Search. Once Selected, the address will populate the fields and be shown on the map,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Confirm Location on the Map with the Client.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Press Next to Populate the Potential Job Site Address fields on the Lead.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>addressPickerCmp</name>
            <extensionName>DV_Flow_AP:AddressValidation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showMap</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showAddressFields</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>addressPickerCmp.country</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>locality</name>
                <value>
                    <elementReference>addressPickerCmp.locality</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postal_code</name>
                <value>
                    <elementReference>addressPickerCmp.postal_code</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>premise</name>
                <value>
                    <elementReference>addressPickerCmp.premise</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>administrative_area_level_1</name>
                <value>
                    <elementReference>addressPickerCmp.administrative_area_level_1</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>route</name>
                <value>
                    <elementReference>addressPickerCmp.route</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street_number</name>
                <value>
                    <elementReference>addressPickerCmp.street_number</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fullStreetAddress</name>
                <value>
                    <elementReference>addressPickerCmp.fullStreetAddress</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showTitle</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>latitude</name>
                <value>
                    <elementReference>Latitude</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>longitude</name>
                <value>
                    <elementReference>Longitude</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeId</name>
                <value>
                    <elementReference>addressPickerCmp.placeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>formattedAddress</name>
                <value>
                    <elementReference>addressPickerCmp.formattedAddress</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showCountyField</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>administrative_area_level_2</name>
                <value>
                    <elementReference>addressPickerCmp.administrative_area_level_2</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>location</name>
                <value>
                    <elementReference>addressPickerCmp.location</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldsRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleLabel</name>
                <value>
                    <elementReference>picker_title</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Latitude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>40.380980</stringValue>
        </value>
    </variables>
    <variables>
        <name>Longitude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>-74.211470</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
