force-app/main/default/flows/Mark_Open_PO_on_Inventory.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Are_There_Open_POs</name>
        <label>Are there Open POs?</label>
        <locationX>170</locationX>
        <locationY>317</locationY>
        <defaultConnector>
            <targetReference>Mark_Open_PO_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_Open_PO</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_Open_PO_True</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <description>Triggered by Process Builder - Inventory PO. When a PO is created, mark Open PO on Inventory. When a PO is received, check for other po&apos;s related to the the inventory. If all are received, mark open po as false on inventory. If any are still in the ordered stage, mark open po as true on inventory.
Remove Needs to be Ordered from Inventory record.</description>
    <interviewLabel>Mark Open PO on Inventory {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mark Open PO on Inventory</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Open_POs</name>
        <label>Get Open POs</label>
        <locationX>241</locationX>
        <locationY>78</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_There_Open_POs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Receiving_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ordered</stringValue>
            </value>
        </filters>
        <filters>
            <field>Inventory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Inventory_ID</elementReference>
            </value>
        </filters>
        <object>Inventory_Purchase__c</object>
        <outputAssignments>
            <assignToReference>Existing_Open_PO</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Mark_Open_PO_False</name>
        <label>Mark Open PO False</label>
        <locationX>416</locationX>
        <locationY>361</locationY>
        <connector>
            <targetReference>Remove_Needs_to_be_Ordered_from_Inventory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Inventory_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Open_PO__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>TrackIT__Inventory__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Mark_Open_PO_True</name>
        <label>Mark Open PO True</label>
        <locationX>224</locationX>
        <locationY>529</locationY>
        <connector>
            <targetReference>Remove_Needs_to_be_Ordered_from_Inventory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Inventory_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Open_PO__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>TrackIT__Inventory__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_Needs_to_be_Ordered_from_Inventory</name>
        <label>Remove Needs to be Ordered from Inventory</label>
        <locationX>656</locationX>
        <locationY>450</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Inventory_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Needs_to_be_Ordered__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>TrackIT__Inventory__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Open_POs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Existing_Open_PO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Inventory_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
