force-app/main/default/flows/Most_Recent_CC_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <interviewLabel>Most Recent CC Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Most Recent CC Task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Most_Recent_CC_Communication</name>
        <label>Most Recent CC Communication</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>display</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3) AND 4</filterLogic>
        <filters>
            <field>CallType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </filters>
        <filters>
            <field>CallType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inbound</stringValue>
            </value>
        </filters>
        <filters>
            <field>CallType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>last_task</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ActivityDate</queriedFields>
        <queriedFields>CallDisposition</queriedFields>
        <queriedFields>CallDurationInSeconds</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>synety__Call_Category__c</queriedFields>
        <queriedFields>synety__Call_Notes_Summary__c</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <screens>
        <name>display</name>
        <label>display</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>textTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Most Recent Communication﻿&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>txtInfo</name>
            <fieldText>&lt;p&gt;{!last_task.ActivityDate}&lt;/p&gt;&lt;p&gt;{!last_task.Subject}  ({!last_task.CallDurationInSeconds} secs)&lt;/p&gt;&lt;p&gt;&lt;u&gt;Reason&lt;/u&gt;:{!last_task.synety__Call_Category__c}&lt;/p&gt;&lt;p&gt;&lt;u&gt;Result&lt;/u&gt;: {!last_task.CallDisposition}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>last_task.ActivityDate</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txtComments</name>
            <fieldText>&lt;p&gt;&lt;u&gt;Notes&lt;/u&gt;: &lt;/p&gt;&lt;p&gt;{!last_task.Description}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>NOT 1 AND 2</conditionLogic>
                <conditions>
                    <leftValueReference>last_task.synety__Call_Notes_Summary__c</leftValueReference>
                    <operator>StartsWith</operator>
                    <rightValue>
                        <stringValue>[cc</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>last_task.ActivityDate</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Most_Recent_CC_Communication</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>last_task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
