force-app/main/default/flows/My_Tasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Current_Tasks</name>
        <label>Get Current Tasks</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <actionName>queryAssignedTasks</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Count_Current_Tasks</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Due_Date_Status</name>
            <value>
                <stringValue>CURRENT</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>recordsCurrentTasks</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Later_Tasks</name>
        <label>Get Later Tasks</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <actionName>queryAssignedTasks</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Count_Later_Tasks</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Due_Date_Status</name>
            <value>
                <stringValue>LATER</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>recordsLaterTasks</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Overdue_Tasks</name>
        <label>Get Overdue Tasks</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <actionName>queryAssignedTasks</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Count_Overdue_Tasks</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Due_Date_Status</name>
            <value>
                <stringValue>OVERDUE</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>recordsOverdueTasks</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Upcoming_Week_Tasks</name>
        <label>Get Upcoming Week Tasks</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <actionName>queryAssignedTasks</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Count_Upcoming_Week_Tasks</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Due_Date_Status</name>
            <value>
                <stringValue>UPCOMING WEEK</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>recordsUpcomingWeekTasks</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Count_Current_Tasks</name>
        <label>Count Current Tasks</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>countCurrentTasks</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>recordsCurrentTasks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Upcoming_Week_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Later_Tasks</name>
        <label>Count Later Tasks</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>countLaterTasks</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>recordsLaterTasks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Overdue_Tasks</name>
        <label>Count Overdue Tasks</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>countOverdueTasks</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>recordsOverdueTasks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Current_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Upcoming_Week_Tasks</name>
        <label>Count Upcoming Week Tasks</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>countUpcomingWeekTasks</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>recordsUpcomingWeekTasks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Later_Tasks</targetReference>
        </connector>
    </assignments>
    <interviewLabel>My Tasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>My Tasks (Console)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Tasks</name>
        <label>Tasks</label>
        <locationX>176</locationX>
        <locationY>1118</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msgOverdue</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;https://emojikeyboard.org/copy/Three_Button_Mouse_Emoji_%F0%9F%96%B1?utm_source=extlink&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: &amp;quot;Helvetica Neue&amp;quot;, Helvetica, Arial, sans-serif; font-size: 21.3333px; color: black; background-color: rgb(255, 255, 255);&quot;&gt;🖱&lt;/a&gt;Click &lt;b style=&quot;font-size: 20px; color: rgb(15, 148, 224);&quot;&gt;Link&lt;/b&gt; for &lt;u&gt;Task Info or to Update/Complete&lt;/u&gt; the Task. &lt;a href=&quot;https://emojikeyboard.org/copy/Three_Button_Mouse_Emoji_%F0%9F%96%B1?utm_source=extlink&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 21.3333px; font-family: &amp;quot;Helvetica Neue&amp;quot;, Helvetica, Arial, sans-serif; color: black; background-color: rgb(255, 255, 255);&quot;&gt;🖱&lt;/a&gt;Click the &lt;b style=&quot;font-size: 20px; color: rgb(8, 194, 251);&quot;&gt;Job Name link&lt;/b&gt; to see the &lt;u&gt;Whole Project (Gantt Chart)&lt;/u&gt;&lt;/p&gt;&lt;p&gt;Each Column (Task Name &amp;amp; Project Link) is sortable by clicking on the &lt;b style=&quot;color: rgb(169, 169, 169);&quot;&gt;column header name &lt;/b&gt;&lt;a href=&quot;https://emojikeyboard.org/copy/Up_Down_Arrow_Emoji_%E2%86%95%EF%B8%8F?utm_source=extlink&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 21.3333px; font-family: &amp;quot;Helvetica Neue&amp;quot;, Helvetica, Arial, sans-serif; color: rgb(169, 169, 169); background-color: rgb(255, 255, 255);&quot;&gt;&lt;b&gt;↕️&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>noOverDueTasks</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(3, 247, 16); font-size: 16px;&quot;&gt;NO Overdue Tasks,&lt;/b&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/b&gt;&lt;b style=&quot;color: rgb(3, 247, 16); font-size: 16px;&quot;&gt; Thank You!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>countOverdueTasks</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dtOverdueTasks</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Krow__Task__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Krow__Task__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Update_Task__c,Priority_Image__c,Name,Descr__c,Checklist__c,Krow__Estimated_Hours__c,Krow__Status__c,Project_Link__c,Krow__Project_Status__c,LastViewedDate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Update_Task__c:53, Priority_Image__c:50, Name:226, Descr__c:50, Checklist__c:50, Krow__Estimated_Hours__c:81, Krow__Status__c:101, Project_Link__c:321, Krow__Project_Status__c:133, LastViewedDate:113</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Update_Task__c:false, Name:true, Descr__c:false, Checklist__c:false, Krow__Due_Date__c:false, Krow__Status__c:false, Project_Link__c:true, Krow__Project_Status__c:false, LastViewedDate:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Overdue Tasks (Click Link to Update Task and Message PM Reason for Delays Please!)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:product_required</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>Name:true, Krow__Due_Date__c:true, Krow__Estimated_Hours__c:true, Krow__Status__c:true, Project_Link__c:true, Krow__Project_Status__c:true, LastViewedDate:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnIcons</name>
                <value>
                    <stringValue>Update_Task__c:utility:preview, Priority_Image__c:utility:connected_apps, Descr__c:utility:note, Checklist__c:utility:multi_select_checkbox, Krow__Due_Date__c:utility:date_input, Krow__Estimated_Hours__c:utility:clock, Krow__Status__c:utility:help</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Update_Task__c:, Priority_Image__c:, Descr__c:, Checklist__c:, Krow__Due_Date__c:OVERDUE, Krow__Estimated_Hours__c:Est</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>recordsOverdueTasks</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressNameFieldLink</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnAlignments</name>
                <value>
                    <stringValue>Priority_Image__c:right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>hideOverdue.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>countOverdueTasks</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>hideOverdue</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Hide Over Due Tasks</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Overdue Tasks are Hidden</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>hideOverdueTasks</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Shown</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>countOverdueTasks</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>noCurrentTasks</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;NO Current Tasks Today&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>countCurrentTasks</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dtCurrentTasks</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Krow__Task__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Krow__Task__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>recordsCurrentTasks</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Current Tasks (Click Link for more info &amp; Update Task)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:task2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Update_Task__c,Priority_Image__c,Name,Descr__c,Checklist__c,Time__c,Krow__Estimated_Hours__c,Krow__Status__c,Project_Link__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>Name:true, DOW_Due__c:true, Krow__Start_Date__c:true, Krow__Start_Time__c:true, Krow__Due_Date__c:true, Krow__End_Time__c:true, Krow__Status__c:true, Project_Link__c:true, Krow__Estimated_Hours__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnIcons</name>
                <value>
                    <stringValue>Update_Task__c:utility:preview, Krow__Project_Task_Order__c:utility:richtextnumberedlist, Priority_Image__c:utility:priority, Descr__c:utility:note, Checklist__c:utility:multi_select_checkbox, Krow__Start_Date__c:utility:date_input, Krow__Due_Date__c:utility:date_input, Time__c:utility:clock, Krow__Estimated_Hours__c:utility:clock, Krow__Status__c:utility:help</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Update_Task__c:, Krow__Project_Task_Order__c:Order in Project, Descr__c:, Checklist__c:, Krow__Start_Date__c:Start, DOW_Due__c:Due, Krow__Due_Date__c:Due, Krow__Estimated_Hours__c:Est</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Update_Task__c:52, Priority_Image__c:50, Name:236, Descr__c:50, Checklist__c:50, Time__c:149, Krow__Estimated_Hours__c:79, Krow__Status__c:99, Project_Link__c:288</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Update_Task__c:false, Name:true, Descr__c:false, Checklist__c:false, DOW_Due__c:false, Krow__Start_Date__c:false, Krow__Start_Time__c:false, Krow__Due_Date__c:false, Krow__End_Time__c:false, Krow__Status__c:false, Project_Link__c:true, Krow__Estimated_Hours__c:false</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressNameFieldLink</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>hideCurrent.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>countCurrentTasks</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>hideCurrent</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Hide Current Tasks</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Current Tasks are Hidden</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>hideCurrentTasks</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Shown</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>countCurrentTasks</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>noUpcomingWeekTasks</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;No Upcoming Week Tasks&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>countUpcomingWeekTasks</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dtUpcomingWeekTasks</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Krow__Task__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Krow__Task__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>recordsUpcomingWeekTasks</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Upcoming WeekTasks (Click Link for MoreInfo/Update Task)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:date_time</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Update_Task__c,Priority_Image__c,Name,Descr__c,Checklist__c,DOW_Due__c,Time__c,Krow__Estimated_Hours__c,Project_Link__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>Name:true, Krow__Start_Date__c:true, DOW_Due__c:true, Krow__Due_Date__c:true, Krow__Start_Time__c:true, Krow__End_Time__c:true, Krow__Estimated_Hours__c:true, Krow__Status__c:true, Project_Link__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnIcons</name>
                <value>
                    <stringValue>Update_Task__c:utility:preview, Priority_Image__c:utility:connected_apps, Descr__c:utility:note, Checklist__c:utility:multi_select_checkbox, Krow__Start_Date__c:utility:date_input, Krow__Due_Date__c:utility:date_input, Time__c:utility:clock, Krow__Estimated_Hours__c:utility:clock</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Update_Task__c:, Priority_Image__c:, Descr__c:, Checklist__c:, Krow__Start_Date__c:Start, DOW_Due__c:Due, Krow__Due_Date__c:Due, Krow__Estimated_Hours__c:Est</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Update_Task__c:50, Priority_Image__c:50, Name:282, Descr__c:50, Checklist__c:50, DOW_Due__c:68, Time__c:169, Krow__Estimated_Hours__c:80, Project_Link__c:252</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Update_Task__c:false, Name:true, Descr__c:false, Checklist__c:false, Krow__Start_Date__c:false, DOW_Due__c:false, Krow__Due_Date__c:false, Krow__Start_Time__c:false, Krow__End_Time__c:false, Krow__Estimated_Hours__c:false, Krow__Status__c:false, Project_Link__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressNameFieldLink</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnAlignments</name>
                <value>
                    <stringValue>Update_Task__c:center, Priority_Image__c:right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>hideUpcomingWeek.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>countUpcomingWeekTasks</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>hideUpcomingWeek</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Hide Upcoming Week Tasks</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>hideUpcomingWeekTasks</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Upcoming Week Tasks are Hidden</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Shown</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>countUpcomingWeekTasks</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>noLaterTasks</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;No Later Tasks&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>countLaterTasks</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dtLaterTasks</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Krow__Task__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Krow__Task__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>recordsLaterTasks</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Later Tasks (Click Name for more info &amp; Update Task)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:date_input</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Update_Task__c,Priority_Image__c,Name,Descr__c,Checklist__c,Krow__Status__c,Project_Link__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Update_Task__c:52, Priority_Image__c:50, Name:338, Descr__c:55, Checklist__c:50, Krow__Status__c:100, Project_Link__c:302</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>Name:true, Descr__c:true, Checklist__c:true, Krow__Start_Date__c:true, Krow__Due_Date__c:true, DOW_Due__c:true, Krow__Start_Time__c:true, Krow__End_Time__c:true, Project_Link__c:true, Krow__Status__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnIcons</name>
                <value>
                    <stringValue>Update_Task__c:utility:preview, Priority_Image__c:utility:connected_apps, Descr__c:utility:note, Checklist__c:utility:multi_select_checkbox, Krow__Start_Date__c:utility:date_input, Krow__Due_Date__c:utility:date_input, Time__c:utility:clock, Krow__Status__c:utility:help</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Update_Task__c:, Descr__c:, Checklist__c:, Krow__Start_Date__c:Start, DOW_Due__c:Due, Krow__Due_Date__c:Due</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Update_Task__c:false, Name:true, Descr__c:false, Checklist__c:false, Krow__Start_Date__c:false, Krow__Due_Date__c:false, DOW_Due__c:false, Krow__Start_Time__c:false, Krow__End_Time__c:false, Project_Link__c:true, Krow__Status__c:false</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressNameFieldLink</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Krow__Priority__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnAlignments</name>
                <value>
                    <stringValue>Priority_Image__c:right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>countLaterTasks</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>hideLater.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>hideLater</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Hide Later Tasks</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Later Tasks are Hidden</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>hideLaterTasks</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Shown</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>countLaterTasks</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Overdue_Tasks</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>countCurrentTasks</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countLaterTasks</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countOverdueTasks</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countUpcomingWeekTasks</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>hideCurrentTasks</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>hideLaterTasks</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>hideOverdueTasks</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>hideUpcomingWeekTasks</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordsAssignedTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Krow__Task__c</objectType>
    </variables>
    <variables>
        <name>recordsCurrentTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Krow__Task__c</objectType>
    </variables>
    <variables>
        <name>recordsLaterTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Krow__Task__c</objectType>
    </variables>
    <variables>
        <name>recordsOverdueTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Krow__Task__c</objectType>
    </variables>
    <variables>
        <name>recordsUpcomingWeekTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Krow__Task__c</objectType>
    </variables>
</Flow>
