force-app/main/default/flows/NEVER_ACTIVATE_Project_Start_Date_c_Created_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_to_Updated_Projects_Collection_to_Save</name>
        <label>Add to Updated Projects Collection to Save</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>recordsUpdatedProjects2Save</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Each_Project</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_Project</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Start_Date_Project_Start_Date</name>
        <label>Start Date = Project Start Date</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Each_Project.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_Project.Krow__Project_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Updated_Projects_Collection_to_Save</targetReference>
        </connector>
    </assignments>
    <interviewLabel>NEVER ACTIVATE: Project.Start_Date__c = Created Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NEVER ACTIVATE: Project.Start_Date__c = Created Date</label>
    <loops>
        <name>Each_Project</name>
        <label>Each Project</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>All_Projects</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Start_Date_Project_Start_Date</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Save_Projects</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>All_Projects</name>
        <label>All Projects</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Each_Project</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Krow__Project__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Save_Projects</name>
        <label>Save Projects</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <inputReference>recordsUpdatedProjects2Save</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>All_Projects</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordsUpdatedProjects2Save</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Krow__Project__c</objectType>
    </variables>
</Flow>
