force-app/main/default/flows/New_RFP_to_Evaluate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Manual_Contact_Info</name>
        <label>Assign Manual Contact Info</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>tmpEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>urcc_email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpfname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>urc_name.firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmplname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>urc_name.lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpphone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>urc_phone.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Contact_Info</name>
        <label>Assign Selected Contact Info</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>tmpEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dtAccountContacts.outputSelectedRow.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpfname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dtAccountContacts.outputSelectedRow.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmplname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dtAccountContacts.outputSelectedRow.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpphone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dtAccountContacts.outputSelectedRow.Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Lead</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>biddingjob</name>
        <choiceText>Bidding Job</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bidding Job</stringValue>
        </value>
    </choices>
    <choices>
        <name>hasjob</name>
        <choiceText>Has Job</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Has Job</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Contact_Exists</name>
        <label>Contact Exists</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>Assign_Selected_Contact_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>toggleUnregisteredContact.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Manual_Contact_Info</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>recordId_of_Account</name>
        <label>recordId of Account?</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Get_Account_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account Record Id Passed</defaultConnectorLabel>
        <rules>
            <name>None_Given</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Client_Accounts</targetReference>
            </connector>
            <label>None Given</label>
        </rules>
    </decisions>
    <description>used as an action; added existing account</description>
    <dynamicChoiceSets>
        <name>salesreps</name>
        <dataType>String</dataType>
        <displayField>Alias</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Alias</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Mike</stringValue>
            </value>
        </filters>
        <limit>1</limit>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>todayplusfour</name>
        <dataType>Date</dataType>
        <expression>Today() + 4</expression>
    </formulas>
    <interviewLabel>New RFP to Evaluate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New RFP to Evaluate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>182</locationX>
        <locationY>1430</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordExistingAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_s_Job_Status__c</field>
            <value>
                <elementReference>Account_s_Job_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Acct_Oppty_Type__c</field>
            <value>
                <stringValue>Repeat Commercial</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>recordExistingAccount.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractingWith__c</field>
            <value>
                <elementReference>Contractcing_With</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>opptyaddy.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>tmpEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>tmpfname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasPlans__c</field>
            <value>
                <elementReference>Has_Plans</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasWrittenLineItems__c</field>
            <value>
                <elementReference>Has_Written_Line_Items</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasWrittenScopeofWork__c</field>
            <value>
                <elementReference>Has_Written_Scope_of_Work</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JobSiteAddress__c</field>
            <value>
                <elementReference>opptyaddy.fullStreetAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JobSiteCity__c</field>
            <value>
                <elementReference>opptyaddy.locality</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JobSiteState__c</field>
            <value>
                <elementReference>opptyaddy.administrative_area_level_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>tmplname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityName__c</field>
            <value>
                <elementReference>Opportunity_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>tmpphone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>opptyaddy.postal_code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProposalDueDate__c</field>
            <value>
                <elementReference>Proposal_Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121U000000KWN6QAO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Rep__c</field>
            <value>
                <stringValue>0051U000005t24yQAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ScopeofWork__c</field>
            <value>
                <elementReference>scope_of_work.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Evaluate Pursuing RFP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Temp_Location_of_Plans__c</field>
            <value>
                <elementReference>Temporary_Location_of_Plans</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_0</name>
        <label>Get Account</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>recordExistingAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Contacts</name>
        <label>Get Account Contacts</label>
        <locationX>182</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_RFP_from_Existing_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordExistingAccount.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>recordsAccountContacts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <sortField>LastName</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Client_Accounts</name>
        <label>Get Client Accounts</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scrAccount_Lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0121U000000KS1dQAG</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>New_RFP_from_Existing_Account</name>
        <label>New RFP from Existing Account</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Potential_Job_Info</targetReference>
        </connector>
        <fields>
            <name>hdrNewRFP</name>
            <extensionName>dhfpi:lwcFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>recordExistingAccount.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <stringValue>New RFP to Evaluate (New Lead)</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>msgSelectAccountContact</name>
            <fieldText>&lt;p&gt;Use the table of Account Contacts below to Select the Main Contact for this RFP.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dtAccountContacts</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Account Contacts</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>not_tableBorder</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressNameFieldLink</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Title,Phone,Email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>Name:true, Title:true, Email:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:252, Title:252, Phone:186, Email:314</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Name:true, Title:true, Phone:true, Email:false</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>recordsAccountContacts</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Account_Contacts</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>toggleUnregisteredContact.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>msgUnregisteredContact</name>
            <fieldText>&lt;p&gt;If Contact is not listed, Activate the toggle below to enter Name, Phone, Email in new fields.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>toggleUnregisteredContact.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>toggleUnregisteredContact</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Switch toggle to Active if Contact is not found above.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Manual Enter Main Contact Info</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Look up Main Contact name </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>urc_name</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Main Contact Name</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>toggleUnregisteredContact.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>urc_phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Main Contact Phone</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <stringValue>\d{10}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>just digits, no chars</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>toggleUnregisteredContact.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>urcc_email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>toggleUnregisteredContact.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Potential_Job_Info</name>
        <label>Potential Job Info</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Potential_Jobsite_Address_Search</targetReference>
        </connector>
        <fields>
            <name>hdrJobInfo</name>
            <extensionName>dhfpi:lwcFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <stringValue>Potential Job Site/Opportunity Info</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:opportunity</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Opportunity_Name</name>
            <dataType>String</dataType>
            <fieldText>Opportunity Name: City, Address (Account)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Account_s_Job_Status</name>
            <choiceReferences>biddingjob</choiceReferences>
            <choiceReferences>hasjob</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Account&apos;s Job Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contractcing_With</name>
            <dataType>String</dataType>
            <fieldText>Contractcing With</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;If Lead is under Contract&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Proposal_Due_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>todayplusfour</elementReference>
            </defaultValue>
            <fieldText>Proposal Due Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Has_Plans</name>
            <dataType>Boolean</dataType>
            <fieldText>Has Plans?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Temporary_Location_of_Plans</name>
            <dataType>String</dataType>
            <fieldText>Temporary Location of Plans</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Has_Plans</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Has_Written_Line_Items</name>
            <dataType>Boolean</dataType>
            <fieldText>Has Written Line Items?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Has_Written_Scope_of_Work</name>
            <dataType>Boolean</dataType>
            <fieldText>Has Written Scope of Work?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>scope_of_work</name>
            <extensionName>c:inputRichTextFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>characterLimit</name>
                <value>
                    <numberValue>13000.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Scope of Work</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Potential_Jobsite_Address_Search</name>
        <label>Potential Jobsite Address Search</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Contact_Exists</targetReference>
        </connector>
        <fields>
            <name>msgInstructions</name>
            <fieldText>&lt;p&gt;Use the Address Search field and select the address from Google Maps Search. Once Selected, the address will populate the fields and be shown on the map,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Confirm Location on the Map with the Client.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Press Next to Populate the Potential Job Site Address fields.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>opptyaddy</name>
            <extensionName>DV_Flow_AP:AddressValidation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>locality</name>
                <value>
                    <elementReference>opptyaddy.locality</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleLabel</name>
                <value>
                    <stringValue>Potential Job Address Picker</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>opptyaddy.country</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>administrative_area_level_2</name>
                <value>
                    <elementReference>opptyaddy.administrative_area_level_2</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>formattedAddress</name>
                <value>
                    <elementReference>opptyaddy.formattedAddress</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fullStreetAddress</name>
                <value>
                    <elementReference>opptyaddy.fullStreetAddress</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>latitude</name>
                <value>
                    <elementReference>latitude</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>longitude</name>
                <value>
                    <elementReference>longitude</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>location</name>
                <value>
                    <elementReference>opptyaddy.location</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeId</name>
                <value>
                    <elementReference>opptyaddy.placeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postal_code</name>
                <value>
                    <elementReference>opptyaddy.postal_code</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>premise</name>
                <value>
                    <elementReference>opptyaddy.premise</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>administrative_area_level_1</name>
                <value>
                    <elementReference>opptyaddy.administrative_area_level_1</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>route</name>
                <value>
                    <elementReference>opptyaddy.route</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street_number</name>
                <value>
                    <elementReference>opptyaddy.street_number</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrAccount_Lookup</name>
        <label>Account Lookup</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Account_Contacts</targetReference>
        </connector>
        <fields>
            <name>hdrAccountLookup</name>
            <extensionName>dhfpi:lwcFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <stringValue>Select Existing Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <stringValue>If Account doesn&apos;t exist in system, close this popup and create a New Lead and Convert OR New Account and try again.</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dtClientAccounts</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Client_Accounts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>not_tableBorder</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressNameFieldLink</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Name:Select an Existing Client Account Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:1000</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Name:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnIcons</name>
                <value>
                    <stringValue>Name:utility:choice</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>recordExistingAccount</assignToReference>
                <name>outputSelectedRow</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>recordId_of_Account</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>latitude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>40.380980</stringValue>
        </value>
    </variables>
    <variables>
        <name>longitude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>-74.211470</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordExistingAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordsAccountContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>tmpEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tmpfname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tmplname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tmpphone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>toggleMainContactNotRegistered</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
