force-app/main/default/flows/Notify_Dependent_Task_Complete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Dep_Task_Assignees</name>
        <label>Notify Dep Task Assignees</label>
        <locationX>535</locationX>
        <locationY>569</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Loop_Dependent_Tasks</targetReference>
        </connector>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0ML1U000000Kyv7WAC</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notification_body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>notification_title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>users_to_notify</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_Dependent_Task.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Collect_Users_to_Notify</name>
        <label>Collect Users to Notify</label>
        <locationX>979</locationX>
        <locationY>94</locationY>
        <assignmentItems>
            <assignToReference>users_to_notify</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tmp_Task_Assignment.Krow__Project_Resource__r.Krow__User__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Assignments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Notification_Body</name>
        <label>Create Notification Body</label>
        <locationX>43</locationX>
        <locationY>181</locationY>
        <assignmentItems>
            <assignToReference>notification_body</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!completed_task_obj.Krow__Project__r.Name}: {!completed_task_obj.Name} COMPLETED</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Task_Links</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Notification_Title</name>
        <label>Create Notification Title</label>
        <locationX>511</locationX>
        <locationY>100</locationY>
        <assignmentItems>
            <assignToReference>notification_title</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Get_Dependent_Task.Krow__Project__r.Name}: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notification_title</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Get_Dependent_Task.Name} is ready to Start</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dependent_Task_Assignments</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Assignments_Exist</name>
        <label>Assignments Exist</label>
        <locationX>629</locationX>
        <locationY>325</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AssignmentsExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dependent_Task_Assignments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Assignments</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dependent_Task_Exists</name>
        <label>Dependent Task Exists</label>
        <locationX>435</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Dependent_Task.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Notification_Title</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dependent_Tasks_Found</name>
        <label>Dependent Tasks Found</label>
        <locationX>305</locationX>
        <locationY>65</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>DepTaskExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task_Links</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Dependent_Tasks</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Notify Dependent Task Complete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notify Dependent Task Complete</label>
    <loops>
        <name>Loop_Assignments</name>
        <label>Loop Assignments</label>
        <locationX>836</locationX>
        <locationY>229</locationY>
        <assignNextValueToReference>tmp_Task_Assignment</assignNextValueToReference>
        <collectionReference>Dependent_Task_Assignments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collect_Users_to_Notify</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Notify_Dep_Task_Assignees</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Dependent_Tasks</name>
        <label>Loop Dependent Tasks</label>
        <locationX>111</locationX>
        <locationY>383</locationY>
        <assignNextValueToReference>tmp_task_link</assignNextValueToReference>
        <collectionReference>Get_Task_Links</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Dependent_Task</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Dependent_Task_Assignments</name>
        <label>Dependent Task Assignments</label>
        <locationX>691</locationX>
        <locationY>110</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignments_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Krow__Krow_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Dependent_Task.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Krow__Task_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Dependent_Task</name>
        <label>Get Dependent Task</label>
        <locationX>336</locationX>
        <locationY>285</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dependent_Task_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>tmp_task_link.Krow__Target_Task__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Krow__Complete__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Krow__Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_Links</name>
        <label>Get Task Links</label>
        <locationX>218</locationX>
        <locationY>142</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dependent_Tasks_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Krow__Source_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>completed_task_obj.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Krow__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Krow__Task_Link__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Create_Notification_Body</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>completed_task_obj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Krow__Task__c</objectType>
    </variables>
    <variables>
        <name>notification_body</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>notification_title</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tmp_Task_Assignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Krow__Task_Assignment__c</objectType>
    </variables>
    <variables>
        <name>tmp_task_link</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Krow__Task_Link__c</objectType>
    </variables>
    <variables>
        <name>users_to_notify</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
