force-app/main/default/flows/Oppty_Tasks_PM_Inline_Edit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Update_Oppportunity_Record_Screen</name>
        <label>Update Opportunity Record Screen</label>
        <locationX>314</locationX>
        <locationY>1310</locationY>
        <actionName>c:UpdateScreen</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>input_opportunity_record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Update_Project_Record_Screen</name>
        <label>Update Project Record Screen</label>
        <locationX>50</locationX>
        <locationY>1310</locationY>
        <actionName>c:UpdateScreen</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>input_project_record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>assCount_Edited_Records</name>
        <label>Count Edited Records</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>count_edited_records</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>recordsEditedTasks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Records_Edited</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project_Id</name>
        <label>Assign Project Id</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>assignedProjectId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_project_record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>project_or_opportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>project</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Open_Krow_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project_Id_from_Oppty</name>
        <label>Assign Project Id from Oppty</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>assignedProjectId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_opportunity_record.KrowProject__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>project_or_opportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>opportunity</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Open_Krow_Tasks</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decision_Project_or_Opportunity</name>
        <label>Project or Opportunity</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Update_Oppportunity_Record_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Opportunity</defaultConnectorLabel>
        <rules>
            <name>Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>project_or_opportunity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>project</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Project_Record_Screen</targetReference>
            </connector>
            <label>Project</label>
        </rules>
    </decisions>
    <decisions>
        <name>Oppty_or_Project</name>
        <label>Oppty or Project</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Assign_Project_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Project</defaultConnectorLabel>
        <rules>
            <name>outcomeOppty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_opportunity_record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Project_Id_from_Oppty</targetReference>
            </connector>
            <label>Oppty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Records_Edited</name>
        <label>Records Edited</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>decision_Project_or_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>count_edited_records</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Edited_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>https://ericsplayground.wordpress.com/2020/07/02/how-to-use-both-the-selected-and-the-edited-records-in-a-datatable/</description>
    <interviewLabel>Oppty Tasks PM Inline Edit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Display Tasks Component PM Inline Edit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Open_Krow_Tasks</name>
        <label>Get Tasks</label>
        <locationX>182</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Krow__Milestone__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Krow__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>assignedProjectId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_a_Parent_Task__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Krow__Complete__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Krow__Task__c</object>
        <sortField>Krow__Project_Task_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Edited_Records</name>
        <label>Update Edited Records</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>decision_Project_or_Opportunity</targetReference>
        </connector>
        <inputReference>recordsEditedTasks</inputReference>
    </recordUpdates>
    <screens>
        <name>Tasks</name>
        <label>Tasks</label>
        <locationX>182</locationX>
        <locationY>614</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assCount_Edited_Records</targetReference>
        </connector>
        <fields>
            <name>dtOpptyTasks</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Krow__Task__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Krow__Task__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Open_Krow_Tasks</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Update_Task__c,Live__c,Name,Krow__Complete__c,Krow__Status__c,Krow__Estimated_Hours__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Update_Task__c:50, Live__c:98, Name:203, Krow__Complete__c:141, Krow__Status__c:93, Krow__Estimated_Hours__c:83</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Update_Task__c:false, Krow__Project_Task_Order__c:false, Live__c:false, Name:true, Krow__Start_Date__c:false, Krow__Duration__c:false, Krow__Due_Date__c:false, Krow__Estimated_Hours__c:false, Krow__Start_Time__c:false, Krow__End_Time__c:false, TOD_Matters__c:false, Tags__c:true, Is_a_Parent_Task__c:false</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Inline Edit Tasks for Quicker PM (MUST SELECT ROW THAT&apos;S EDITED!!!)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:custom_notification</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnIcons</name>
                <value>
                    <stringValue>Update_Task__c:custom:custom83, Live__c:custom:custom30, Krow__Complete__c:custom:custom26, Krow__Start_Date__c:utility:date_input, Krow__Due_Date__c:utility:date_input, Krow__Estimated_Hours__c:utility:clock, Krow__Start_Time__c:utility:clock, Krow__End_Time__c:utility:clock, TOD_Matters__c:utility:reminder</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Update_Task__c:, Krow__Complete__c:Completed, Krow__Estimated_Hours__c:Est</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressNameFieldLink</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Live__c:true, Name:true, Krow__Complete__c:true, Krow__Start_Date__c:true, Krow__Duration__c:true, Krow__Due_Date__c:true, Krow__Estimated_Hours__c:true, Krow__Start_Time__c:true, Krow__End_Time__c:true, TOD_Matters__c:true, Tags__c:true, Is_a_Parent_Task__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>not_suppressNameFieldLink</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>openLinkinSameTab</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_openLinkinSameTab</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnAlignments</name>
                <value>
                    <stringValue>Live__c:center, Krow__Complete__c:center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>recordsEditedTasks</assignToReference>
                <name>outputEditedRows</name>
            </outputParameters>
        </fields>
        <fields>
            <name>msgRememberSelect</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;u style=&quot;font-size: 16px; color: rgb(234, 175, 1);&quot;&gt;Before Saving, &lt;/u&gt;&lt;span style=&quot;font-size: 16px; color: rgb(234, 175, 1);&quot;&gt;be Sure to Select each row &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(234, 175, 1);&quot;&gt;using the row checkbox of that row&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(234, 175, 1);&quot;&gt;if any column is edited in that row.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px; color: rgb(21, 28, 240);&quot;&gt;&lt;u&gt;After clicking Save&lt;/u&gt; you have to&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px; color: rgb(21, 28, 240);&quot;&gt; click  Next&amp;gt;&amp;gt;&amp;gt;&amp;gt;&amp;gt;&amp;gt;&amp;gt;&amp;gt;&amp;gt;&amp;gt;&amp;gt;&amp;gt;&amp;gt;&amp;gt;&amp;gt;&amp;gt;&amp;gt;&amp;gt;&amp;gt;&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Oppty_or_Project</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>assignedProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>count_edited_records</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>input_opportunity_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>input_project_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Krow__Project__c</objectType>
    </variables>
    <variables>
        <name>project_or_opportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordsEditedTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Krow__Task__c</objectType>
    </variables>
</Flow>
