force-app/main/default/flows/Project_Lists_RFPs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Count_Evals</name>
        <label>Count Evals</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>countDisc</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Disc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countDelayedDisc</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Delayed_Disc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countSubmittedPropsals</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Submitted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countTakeoff</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Takeoff</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>numberDelayedRFI</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>RFI_Delayed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countCreateProposals</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Proposal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countRFPs2Eval</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_RFPs_2_Eval_from_Leads</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scrOpptys</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Project Lists RFPs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project Lists</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Delayed_Disc</name>
        <label>Delayed Disc</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RFI_Delayed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Delayed Discovery</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>Proposal_Due_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Disc</name>
        <label>Disc</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delayed_Disc</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Discovery</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>Proposal_Due_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RFPs_2_Eval_from_Leads</name>
        <label>Get RFPs 2 Eval from Leads</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Evals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Evaluate Pursuing RFP</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <sortField>ProposalDueDate__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Proposal</name>
        <label>Proposal</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Submitted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Create Proposal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>Proposal_Due_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RFI_Delayed</name>
        <label>RFI Delayed</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Takeoff</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RFI Delayed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>Proposal_Due_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Submitted</name>
        <label>Submitted</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RFPs_2_Eval_from_Leads</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted Proposal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>Proposal_Due_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Takeoff</name>
        <label>Takeoff</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Proposal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Takeoff</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>Proposal_Due_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>scrOpptys</name>
        <label>scrOpptys</label>
        <locationX>176</locationX>
        <locationY>1118</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msgNoEvals</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 10px; color: rgb(186, 21, 247); background-color: rgb(255, 255, 255);&quot;&gt;There aren&apos;t Any Incoming RFPs to Evaluate &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>countRFPs2Eval</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>countRFPs2Eval</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>msgRFPs2Eval</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; color: rgb(186, 21, 247); background-color: rgb(255, 255, 255);&quot;&gt;( {!countRFPs2Eval} ) &lt;/b&gt;&lt;b style=&quot;font-size: 14px; color: rgb(247, 0, 255); background-color: rgb(255, 255, 255);&quot;&gt;Incoming RFPs to Evaluate&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>countRFPs2Eval</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>countRFPs2Eval</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scrOpptys_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrOpptys_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>msgDiscTO</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(52, 58, 253);&quot;&gt;Discovery( {!countDisc} )&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(52, 58, 253);&quot;&gt;Takeoff ( {!countTakeoff} ) &lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrOpptys_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>msgPropo</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(1, 224, 15); background-color: rgb(255, 255, 255);&quot;&gt;Create Proposal  ( {!countCreateProposals} ) &lt;/b&gt;&lt;b style=&quot;color: rgb(52, 58, 253); background-color: rgb(255, 255, 255);&quot;&gt; &lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(0, 192, 6); background-color: rgb(255, 255, 255);&quot;&gt;Submitted ( {!countSubmittedPropsals} )&lt;/b&gt;&lt;b style=&quot;color: rgb(52, 58, 253); background-color: rgb(255, 255, 255);&quot;&gt; &lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrOpptys_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>msgDelayed</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(234, 156, 1);&quot;&gt;Delayed Discovery ( {!countDelayedDisc} ) &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 52, 52);&quot;&gt;Delayed RFI ( {!numberDelayedRFI} )&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Disc</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>countCreateProposals</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countDelayedDisc</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countDisc</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countRFPs2Eval</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countSubmittedPropsals</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countTakeoff</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>numberDelayedRFI</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
