force-app/main/default/flows/Proposal_Discovery_Main.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Increment_Mobilization</name>
        <label>Increment Mobilization</label>
        <locationX>704</locationX>
        <locationY>208</locationY>
        <assignmentItems>
            <assignToReference>loopMobilization</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lte_No_Mobilizations</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Eval_SOW</name>
        <label>Eval SOW</label>
        <locationX>1049</locationX>
        <locationY>328</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Concrete_Curb_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_SOW_Chosen</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Concrete Curb</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Curb_Evaluations</targetReference>
            </connector>
            <label>Concrete Curb</label>
        </rules>
    </decisions>
    <decisions>
        <name>lte_No_Mobilizations</name>
        <label>&lt;= # of Mobilizations</label>
        <locationX>557</locationX>
        <locationY>295</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Loop_Mobilization</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopMobilization</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>i_Project_Mobilizations</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Indiv_Mobilization</targetReference>
            </connector>
            <label>Loop Mobilization</label>
        </rules>
        <rules>
            <name>Stop_Loop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopMobilization</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>i_Project_Mobilizations</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eval_ea_SOW</targetReference>
            </connector>
            <label>Stop Loop</label>
        </rules>
    </decisions>
    <description>Launched from Opportunity.&apos;Start Proposal Discovery&apos; button. Input through url param oppID.</description>
    <dynamicChoiceSets>
        <description>Choice of main services from Proposal Discovery Object. Controlled by Global Picklist Value Set &apos;Main Services;</description>
        <name>plcs_SOW</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Scope_of_Work__c</picklistField>
        <picklistObject>Proposal_Discovery__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Proposal Discovery Main for {!oppName} {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Proposal Discovery Main</label>
    <loops>
        <description>Loop Through Scopes of Work to Create Evaluation Objects</description>
        <name>Eval_ea_SOW</name>
        <label>Eval ea. SOW</label>
        <locationX>836</locationX>
        <locationY>384</locationY>
        <assignNextValueToReference>loop_SOW_Chosen</assignNextValueToReference>
        <collectionReference>coll_SOW_Chosen</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Eval_SOW</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Mobilization_Record</name>
        <label>Create Mobilization Record</label>
        <locationX>814</locationX>
        <locationY>140</locationY>
        <connector>
            <targetReference>Increment_Mobilization</targetReference>
        </connector>
        <inputAssignments>
            <field>Approximate_Quantities_of_Mobilization__c</field>
            <value>
                <elementReference>Approximate_Quantities</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Mobilization_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proposal_Discovery__c</field>
            <value>
                <elementReference>propoDiscoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Types_of_Mobilization__c</field>
            <value>
                <elementReference>Types_of_Mobilization</elementReference>
            </value>
        </inputAssignments>
        <object>Job_Mobilization__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Proposal_Discovery</name>
        <label>Create Proposal Discovery</label>
        <locationX>192</locationX>
        <locationY>424</locationY>
        <assignRecordIdToReference>propoDiscoId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Job_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>oppName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>oppId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote__c</field>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scope_of_Work__c</field>
            <value>
                <elementReference>Project_Scope_of_Work</elementReference>
            </value>
        </inputAssignments>
        <object>Proposal_Discovery__c</object>
    </recordCreates>
    <recordCreates>
        <name>New_Quote</name>
        <label>New Quote</label>
        <locationX>282</locationX>
        <locationY>245</locationY>
        <assignRecordIdToReference>quoteId</assignRecordIdToReference>
        <connector>
            <targetReference>Add_Quote_to_Opp</targetReference>
        </connector>
        <inputAssignments>
            <field>SBQQ__Account__c</field>
            <value>
                <elementReference>acctId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__LineItemsGrouped__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__LineItemsPrinted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Opportunity2__c</field>
            <value>
                <elementReference>oppId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PricebookId__c</field>
            <value>
                <elementReference>pricebookId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Primary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordCreates>
    <recordLookups>
        <description>Retrieve Opportunity record from flow input</description>
        <name>Get_Opportunity_Info</name>
        <label>Get Opportunity Info</label>
        <locationX>147</locationX>
        <locationY>106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Proposal_Discovery</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oppId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>acctId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>oppName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>oppProposalDueDate</assignToReference>
            <field>Proposal_Due_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>jobId</assignToReference>
            <field>Thunder_Road_Job_Record__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Can use this to get the appropriate pricebook</description>
        <name>Get_Pricebook</name>
        <label>Get Pricebook</label>
        <locationX>444</locationX>
        <locationY>177</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>&apos;Standard Price Book&apos;</stringValue>
            </value>
        </filters>
        <object>Pricebook2</object>
        <outputAssignments>
            <assignToReference>pricebookId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Add_Quote_to_Opp</name>
        <label>Add Quote to Opp</label>
        <locationX>118</locationX>
        <locationY>291</locationY>
        <connector>
            <targetReference>Create_Proposal_Discovery</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oppId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__PrimaryQuote__c</field>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>Add Quote and Proposal to Job Record</description>
        <name>Update_Job_Record</name>
        <label>Update Job Record</label>
        <locationX>419</locationX>
        <locationY>348</locationY>
        <connector>
            <targetReference>lte_No_Mobilizations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>jobId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Proposal_Discovery__c</field>
            <value>
                <elementReference>propoDiscoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote__c</field>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </inputAssignments>
        <object>Job__c</object>
    </recordUpdates>
    <screens>
        <name>Indiv_Mobilization</name>
        <label>Indiv Mobilization</label>
        <locationX>671</locationX>
        <locationY>75</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Mobilization_Record</targetReference>
        </connector>
        <fields>
            <name>title_Mobilizations</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 13px; font-family: &amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif; color: rgb(62, 62, 60);&quot;&gt;Describe Mobilization # {!loopMobilization}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Mobilization_Name</name>
            <dataType>String</dataType>
            <fieldText>Mobilization Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Types_of_Mobilization</name>
            <choiceReferences>plcs_SOW</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type(s) of Mobilization</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Approximate_Quantities</name>
            <fieldText>Approximate Quantities</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Proposal_Discovery</name>
        <label>Proposal Discovery</label>
        <locationX>274</locationX>
        <locationY>55</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Extract_SOW_Chosen</targetReference>
        </connector>
        <fields>
            <name>SOW_Instructions</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); font-family: &amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif; color: rgb(62, 62, 60);&quot;&gt;Use &apos;Ctrl&apos; to select multiple Scopes of Work involved in this  Project&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Project_Scope_of_Work</name>
            <choiceReferences>plcs_SOW</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Project Scope of Work</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>i_Project_Mobilizations</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>How Many Mobilizations for Entire Project</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Opportunity_Info</startElementReference>
    <status>Obsolete</status>
    <subflows>
        <name>Curb_Evaluations</name>
        <label>Curb Evaluations</label>
        <locationX>1171</locationX>
        <locationY>61</locationY>
        <flowName>propoDisco_Curb_Evaluation</flowName>
        <inputAssignments>
            <name>propoDiscoId</name>
            <value>
                <elementReference>propoDiscoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>quoteId</name>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Get Scope of Work values chose from Screen.&apos;Scope of Work&apos; and store in coll_SOW_Chosen</description>
        <name>Extract_SOW_Chosen</name>
        <label>Extract SOW Chosen</label>
        <locationX>471</locationX>
        <locationY>19</locationY>
        <connector>
            <targetReference>Get_Pricebook</targetReference>
        </connector>
        <flowName>Parse_Multi_Select</flowName>
        <inputAssignments>
            <name>input_MultiSelectString</name>
            <value>
                <elementReference>Project_Scope_of_Work</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>coll_SOW_Chosen</assignToReference>
            <name>output_ParsedMultiSelect</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>acctId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Scope of Work Chosen in Screen.&apos;Scope of Work&apos;</description>
        <name>coll_SOW_Chosen</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>jobId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loop_SOW_Chosen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>loopMobilization</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Input from Url Param from &apos;Start Proposal Discovery&apos; button on Opportunity record</description>
        <name>oppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oppName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oppProposalDueDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pricebookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>propoDiscoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>quoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
