force-app/main/default/flows/propoDisco_Curb_Evaluation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Incr_CurbType_Loop</name>
        <label>Incr CurbType Loop</label>
        <locationX>370</locationX>
        <locationY>244</locationY>
        <assignmentItems>
            <assignToReference>loopCurbType</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_CurbTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>incr_loopCurbMob</name>
        <label>loopCurbMob +1</label>
        <locationX>735</locationX>
        <locationY>448</locationY>
        <assignmentItems>
            <assignToReference>loopCurbMob</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Curb_Mobs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>loop_Curb_Mobs</name>
        <label>&lt;= # Curb Mobs</label>
        <locationX>754</locationX>
        <locationY>274</locationY>
        <defaultConnector>
            <targetReference>Create_QLG_for_Curb_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Done, Continue</defaultConnectorLabel>
        <rules>
            <name>Loop_Curb_Mobilization</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopCurbMob</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>No_CurbType_Mobilizations</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Curb_Mobilization</targetReference>
            </connector>
            <label>Loop Curb Mobilization</label>
        </rules>
    </decisions>
    <decisions>
        <name>loop_CurbTypes</name>
        <label>&lt;= # CurbTypes</label>
        <locationX>311</locationX>
        <locationY>91</locationY>
        <defaultConnectorLabel>Stop CurbType Loop</defaultConnectorLabel>
        <rules>
            <name>Loop_Curb_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopCurbType</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>no_Curb_Types</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Indiv_CurbType</targetReference>
            </connector>
            <label>Loop Curb Type</label>
        </rules>
    </decisions>
    <description>Sub flow to evaluate curb during Proposal Discovery</description>
    <dynamicChoiceSets>
        <name>plcs_Concrete_PSI</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Concrete_PSI__c</picklistField>
        <picklistObject>Concrete_Curb_Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>plcs_Curb_Size</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Curb_Size__c</picklistField>
        <picklistObject>Concrete_Curb_Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>plcs_Curb_Soil</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Soil_Under_Curb__c</picklistField>
        <picklistObject>Concrete_Curb_Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Curb Evaluation {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Proposal Discovery - Curb Evaluation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Curb_Mob</name>
        <label>Create Curb Mob</label>
        <locationX>942</locationX>
        <locationY>484</locationY>
        <connector>
            <targetReference>incr_loopCurbMob</targetReference>
        </connector>
        <inputAssignments>
            <field>Concrete_Curb_Evaluation__c</field>
            <value>
                <elementReference>tmp_CurbTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Curb_Special_Equipment_Needed_Purpose__c</field>
            <value>
                <elementReference>What_Special_Equipment_is_Needed_and_for_What</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Name_of_Mobilization</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity_Curb_Mobilization__c</field>
            <value>
                <elementReference>Curb_LF_Mob</elementReference>
            </value>
        </inputAssignments>
        <object>Curb_Mobilization__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_CurbType</name>
        <label>Create CurbType</label>
        <locationX>750</locationX>
        <locationY>107</locationY>
        <assignRecordIdToReference>tmp_CurbTypeId</assignRecordIdToReference>
        <connector>
            <targetReference>loop_Curb_Mobs</targetReference>
        </connector>
        <inputAssignments>
            <field>Concrete_PSI__c</field>
            <value>
                <elementReference>Concret_Mix_PSI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Curb_Size__c</field>
            <value>
                <elementReference>Curb_Size</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Special_Equipment_Needed__c</field>
            <value>
                <elementReference>Is_Special_Equipment_Needed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LF_of_ADA_Ramp__c</field>
            <value>
                <elementReference>LF_of_ADA_Ramp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LF_of_Concrete_Curb__c</field>
            <value>
                <elementReference>Curb_LF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Curb_Type_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_Catch_Basin_to_Elevate__c</field>
            <value>
                <elementReference>of_Catch_Basins_to_Elevate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proposal_Discovery__c</field>
            <value>
                <elementReference>propoDiscoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Soil_Under_Curb__c</field>
            <value>
                <elementReference>Curb_Soil_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Special_Equipment_Needed__c</field>
            <value>
                <elementReference>Is_Special_Equipment_Needed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unusual_Curb_Details__c</field>
            <value>
                <elementReference>Unusual_Curb_Details</elementReference>
            </value>
        </inputAssignments>
        <object>Concrete_Curb_Evaluation__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_QLG_for_Curb_Type</name>
        <label>Create QLG for Curb Type</label>
        <locationX>485</locationX>
        <locationY>340</locationY>
        <connector>
            <targetReference>Incr_CurbType_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>Main_Service__c</field>
            <value>
                <stringValue>Concrete Curb</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Curb_Type_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__CustomerTotal__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ListTotal__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__NetTotal__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Number__c</field>
            <value>
                <elementReference>loopCurbType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Quote__c</field>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>propoDisco_SOW_SubType_Id__c</field>
            <value>
                <elementReference>tmp_CurbTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLineGroup__c</object>
    </recordCreates>
    <screens>
        <name>Curb_Discovery</name>
        <label># Curb Types</label>
        <locationX>153</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>loop_CurbTypes</targetReference>
        </connector>
        <fields>
            <name>no_Curb_Types</name>
            <dataType>Number</dataType>
            <fieldText>How Many Types of Curb for this Project?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Curb_Mobilization</name>
        <label>Curb Mobilization</label>
        <locationX>1040</locationX>
        <locationY>326</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Curb_Mob</targetReference>
        </connector>
        <fields>
            <name>title_Curb_Mobilization</name>
            <fieldText>&lt;p&gt;{!Curb_Type_Name} Mobilization # {!loopCurbMob}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Name_of_Mobilization</name>
            <dataType>String</dataType>
            <fieldText>Name of Mobilization</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Curb_LF_Mob</name>
            <dataType>Number</dataType>
            <fieldText>LF of Curb</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>What_Special_Equipment_is_Needed_and_for_What</name>
            <fieldText>What Special Equipment is Needed and for What?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Indiv_CurbType</name>
        <label>Indiv CurbType</label>
        <locationX>584</locationX>
        <locationY>52</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_CurbType</targetReference>
        </connector>
        <fields>
            <name>title_CurbType_No</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Curb Type # {!loopCurbType}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Curb_Type_Name</name>
            <dataType>String</dataType>
            <fieldText>Name for this Curb Type/Area</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Curb_LF</name>
            <dataType>Number</dataType>
            <fieldText>LF of Curb</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Curb_Size</name>
            <choiceReferences>plcs_Curb_Size</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Curb Size (If not shown, PAUSE &amp; contact Admin)</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Concret_Mix_PSI</name>
            <choiceReferences>plcs_Concrete_PSI</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Concrete Mix PSI</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Curb_Soil_Type</name>
            <choiceReferences>plcs_Curb_Soil</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Soil Type Under Curb</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LF_of_ADA_Ramp</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>LF of ADA Ramp</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>of_Catch_Basins_to_Elevate</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText># of Catch Basins to Elevate</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Are_there_Unusual_Curb_Details</name>
            <dataType>Boolean</dataType>
            <fieldText>Are there Unusual Curb Details?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Unusual_Curb_Details</name>
            <fieldText>If so, what are the Unusual Curb Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>No_CurbType_Mobilizations</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText># of Mobilizations for this Curb Type/Area</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Is_Special_Equipment_Needed</name>
            <dataType>Boolean</dataType>
            <fieldText>Is Special Equipment Needed?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>If_so_what_is_the_Special_Equipment_Needed</name>
            <fieldText>If so, what is the Special Equipment Needed</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Curb_Discovery</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>loopCurbMob</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <description># of Curb Types</description>
        <name>loopCurbType</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Input</description>
        <name>propoDiscoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>quoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tmp_CurbTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
