force-app/main/default/flows/Receive_Inventory_from_PO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Sum_Ex_Inc</name>
        <label>Sum Existing and Incoming</label>
        <locationX>345</locationX>
        <locationY>258</locationY>
        <assignmentItems>
            <assignToReference>Total_Quantity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Quantity_Ordered</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Incr_Q_in_Rec</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Create_Recv_Location</name>
        <label>Create Recv Location?</label>
        <locationX>170</locationX>
        <locationY>317</locationY>
        <defaultConnector>
            <targetReference>Sum_Ex_Inc</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Total_Quantity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Recv_Loc</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <description>recv location exist?</description>
    <interviewLabel>Receive Inventory from PO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Receive Inventory from PO</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Recv_Loc</name>
        <label>Create Recv Loc</label>
        <locationX>274</locationX>
        <locationY>514</locationY>
        <inputAssignments>
            <field>TrackIT__Inventory__c</field>
            <value>
                <elementReference>Inventory_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TrackIT__Location__c</field>
            <value>
                <stringValue>a3W1U000000isZ9UAI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TrackIT__Quantity__c</field>
            <value>
                <elementReference>Quantity_Ordered</elementReference>
            </value>
        </inputAssignments>
        <object>TrackIT__Inv_Location__c</object>
    </recordCreates>
    <recordLookups>
        <name>Current_Receiving_Location</name>
        <label>Current Receiving Location</label>
        <locationX>240</locationX>
        <locationY>78</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Recv_Location</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TrackIT__Inventory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Inventory_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>TrackIT__Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a3W1U000000isZ9UAI</stringValue>
            </value>
        </filters>
        <object>TrackIT__Inv_Location__c</object>
        <outputAssignments>
            <assignToReference>Total_Quantity</assignToReference>
            <field>TrackIT__Quantity__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Incr_Q_in_Rec</name>
        <label>Incr Q in Rec</label>
        <locationX>454</locationX>
        <locationY>527</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TrackIT__Inventory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Inventory_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>TrackIT__Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a3W1U000000isZ9UAI</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>TrackIT__Quantity__c</field>
            <value>
                <elementReference>Total_Quantity</elementReference>
            </value>
        </inputAssignments>
        <object>TrackIT__Inv_Location__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Current_Receiving_Location</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Inventory_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Quantity_Ordered</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Total_Quantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
