force-app/main/default/flows/Start_Job_Position_Project.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Import_Job_Posting_Template</name>
        <label>Import Job Posting Template</label>
        <locationX>351</locationX>
        <locationY>167</locationY>
        <actionName>Krow__CloneTemplateProjectAPI</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Position_with_Project</targetReference>
        </connector>
        <inputParameters>
            <name>New_Project_Name</name>
            <value>
                <elementReference>new_project_name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>New_Project_Id</name>
            <value>
                <elementReference>new_project_record_id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>taskTemplateProjectIds</name>
            <value>
                <elementReference>template_task_id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <interviewLabel>Start Job Position Project {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Start Job Position Project</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Project</name>
        <label>Create New Project</label>
        <locationX>60</locationX>
        <locationY>254</locationY>
        <assignRecordIdToReference>new_project_record_id</assignRecordIdToReference>
        <connector>
            <targetReference>Import_Job_Posting_Template</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>new_project_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Position__c</field>
            <value>
                <elementReference>position_id</elementReference>
            </value>
        </inputAssignments>
        <object>Krow__Project__c</object>
    </recordCreates>
    <recordUpdates>
        <name>Update_Position_with_Project</name>
        <label>Update Position with Project</label>
        <locationX>549</locationX>
        <locationY>142</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>position_id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Krow_Project__c</field>
            <value>
                <elementReference>new_project_record_id</elementReference>
            </value>
        </inputAssignments>
        <object>Position__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Create_New_Project</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>new_project_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>new_project_record_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>position_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>template_task_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
