force-app/main/default/flows/Start_Job_Candidate_Project.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Import_Min_Req_Template</name>
        <label>Import Min Req Template</label>
        <locationX>351</locationX>
        <locationY>167</locationY>
        <actionName>Krow__CloneTemplateProjectAPI</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Candidate_with_Project</targetReference>
        </connector>
        <inputParameters>
            <name>New_Project_Name</name>
            <value>
                <elementReference>new_project_name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>New_Project_Id</name>
            <value>
                <elementReference>new_project_record_id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>taskTemplateProjectIds</name>
            <value>
                <elementReference>template_project_id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Start Job Candidate Project {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Start Job Candidate Project</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Project</name>
        <label>Create New Project</label>
        <locationX>60</locationX>
        <locationY>254</locationY>
        <assignRecordIdToReference>new_project_record_id</assignRecordIdToReference>
        <connector>
            <targetReference>Import_Min_Req_Template</targetReference>
        </connector>
        <inputAssignments>
            <field>Job_Candidate__c</field>
            <value>
                <elementReference>job_candidate_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>new_project_name</elementReference>
            </value>
        </inputAssignments>
        <object>Krow__Project__c</object>
    </recordCreates>
    <recordUpdates>
        <name>Update_Candidate_with_Project</name>
        <label>Update Candidate with Project</label>
        <locationX>549</locationX>
        <locationY>142</locationY>
        <connector>
            <targetReference>Task_Dates_Today</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>job_candidate_id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Krow_Project__c</field>
            <value>
                <elementReference>new_project_record_id</elementReference>
            </value>
        </inputAssignments>
        <object>Job_Candidate__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Create_New_Project</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Task_Dates_Today</name>
        <label>Task Dates Today</label>
        <locationX>765</locationX>
        <locationY>157</locationY>
        <flowName>Subflow_Update_Task_Start_Due_Dates</flowName>
        <inputAssignments>
            <name>due_date</name>
            <value>
                <elementReference>today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flow_identifier</name>
            <value>
                <stringValue>MinReq</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>project_record_id</name>
            <value>
                <elementReference>new_project_record_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>start_date</name>
            <value>
                <elementReference>today</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>job_candidate_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>new_project_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>new_project_record_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>template_project_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
