force-app/main/default/flows/Subflow_Query_Conditions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_to_Ouput</name>
        <label>Add to Ouput</label>
        <locationX>270</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>recordsConditions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Each_Condition</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_Condition</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Conditions</name>
        <label>Count Conditions</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>noConditionsFound</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Conditions_for_Product_and_Category</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Conditions_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Label_Category</name>
        <label>Label Category</label>
        <locationX>402</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Each_Condition.Read_Only_Category_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&quot;Category&quot;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Ouput</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Label_Product</name>
        <label>Label Product</label>
        <locationX>138</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Each_Condition.Read_Only_Category_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&quot;Product&quot;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Ouput</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Sort_Output</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Output</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>recordsConditions</collectionReference>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Read_Only_Category_Product__c</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Condition_Detail__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Conditions_Found</name>
        <label>Conditions Found?</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>noConditionsFound</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Each_Condition</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_or_Category</name>
        <label>Product or Category</label>
        <locationX>270</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Label_Category</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Category</defaultConnectorLabel>
        <rules>
            <name>Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Each_Condition.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>productId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Label_Product</targetReference>
            </connector>
            <label>Product</label>
        </rules>
    </decisions>
    <interviewLabel>Subflow - Query Conditions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow - Query Conditions</label>
    <loops>
        <name>Each_Condition</name>
        <label>Each Condition</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <collectionReference>Get_Conditions_for_Product_and_Category</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Product_or_Category</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Sort_Output</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Conditions_for_Product_and_Category</name>
        <label>Get Conditions for Product and Category</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Conditions</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>productId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>txtProductCategory</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Condition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Conditions_for_Product_and_Category</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>noConditionsFound</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>productId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordsConditions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Condition__c</objectType>
    </variables>
    <variables>
        <name>txtProductCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
