force-app/main/default/flows/Task_Update_v3.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Email_Update</name>
        <label>Email Update</label>
        <locationX>446</locationX>
        <locationY>2462</locationY>
        <actionName>Krow__Task__c.Send_Email_Task_Update</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Refresh_Task</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Refresh_Task</name>
        <label>Refresh Task Record Page</label>
        <locationX>446</locationX>
        <locationY>2582</locationY>
        <actionName>c:UpdateScreen</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Task.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_to_List_of_Assignees</name>
        <label>Add to List of Assignees</label>
        <locationX>534</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>assignees</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Each_Assignee.Krow__Project_Resource__r.Name}, </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_Assignee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Completable_Status</name>
        <label>Assign Completable Status</label>
        <locationX>314</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>Get_Task.Krow__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Task_Status_Completable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>nochklst_assActual_Hours</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Incompletable_Status</name>
        <label>Assign Incompletable Status</label>
        <locationX>578</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>Get_Task.Krow__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Task_Status_Incompletable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>nochklst_assActual_Hours</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Completable_All_Checklist</name>
        <label>Completable All Checklist</label>
        <locationX>50</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>taskcompletable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task_Status_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Complete_All_Checklists</name>
        <label>Complete All Checklists</label>
        <locationX>138</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>Loop_Completed_Checklists_all.Krow__Is_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Completed_Checklists_all.Krow__Completed_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dateToday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Completed_Checklists_all.Krow__Completed_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Completed_Checklists_all</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>nochklst_assActual_Hours</name>
        <label>Actual Hours</label>
        <locationX>446</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>Get_Task.Actual_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Actual_Hours_Spent_on_Task</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>nochklst_Update_Task</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>currentStatus</name>
        <choiceText>{!Get_Task.Krow__Status__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_Task.Krow__Status__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>status_InProgress</name>
        <choiceText>In Progress</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Progress</stringValue>
        </value>
    </choices>
    <choices>
        <name>statusCompleted</name>
        <choiceText>Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <choices>
        <name>statusNotStarted</name>
        <choiceText>Not Started</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Started</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Completable_Status_Update</name>
        <label>Completable Status Update</label>
        <locationX>446</locationX>
        <locationY>1886</locationY>
        <defaultConnector>
            <targetReference>Assign_Incompletable_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Incompletable Status</defaultConnectorLabel>
        <rules>
            <name>Completable_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>taskcompletable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Completable_Status</targetReference>
            </connector>
            <label>Completable Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>Count_Completed_Checklist_Items</name>
        <label>Count Completed Checklist Items</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Task_Status_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countCompletedChecklists</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Task.Incomplete_Checklist__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Completed_Checklists_all</targetReference>
            </connector>
            <label>All Completed</label>
        </rules>
        <rules>
            <name>No_Incomplete_Checklists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task.Incomplete_Checklist__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Status_Update</targetReference>
            </connector>
            <label>No Incomplete Checklists</label>
        </rules>
        <rules>
            <name>Some_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countCompletedChecklists</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Get_Task.Incomplete_Checklist__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Status_Update</targetReference>
            </connector>
            <label>Some Completed</label>
        </rules>
        <rules>
            <name>None_Still_Incomplete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countCompletedChecklists</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Task.Incomplete_Checklist__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Status_Update</targetReference>
            </connector>
            <label>None Still Incomplete</label>
        </rules>
    </decisions>
    <description>added checklists back</description>
    <dynamicChoiceSets>
        <name>task_status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Krow__Status__c</picklistField>
        <picklistObject>Krow__Task__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>assignees_last_comma_gone</name>
        <dataType>String</dataType>
        <expression>LEFT( {!assignees}, LEN({!assignees}) - 2)</expression>
    </formulas>
    <formulas>
        <name>dateToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Task Update v3 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task Update v3</label>
    <loops>
        <name>Each_Assignee</name>
        <label>Each Assignee</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <collectionReference>Task_Assignments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_List_of_Assignees</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>nochklst_Task_Detail_Completion</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Completed_Checklists_all</name>
        <label>Loop Completed Checklists (all)</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <collectionReference>recordsCompletedChecklists</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Complete_All_Checklists</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Completed_Checklists_All</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Checklist</name>
        <label>Get Checklist</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_Assignments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Krow__Krow_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Krow__Is_Completed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Krow__Task_Checklist__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task</name>
        <label>Get Task</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Checklist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Krow__Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Task_Assignments</name>
        <label>Task Assignments</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Each_Assignee</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Krow__Status__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Booked</stringValue>
            </value>
        </filters>
        <filters>
            <field>Krow__Status__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Soft Booked</stringValue>
            </value>
        </filters>
        <filters>
            <field>Krow__Krow_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Krow__Task_Assignment__c</object>
        <sortField>Krow__IsOwner__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>nochklst_Update_Task</name>
        <label>Update Task</label>
        <locationX>446</locationX>
        <locationY>2342</locationY>
        <connector>
            <targetReference>Email_Update</targetReference>
        </connector>
        <inputReference>Get_Task</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Completed_Checklists_All</name>
        <label>Update Completed Checklists All</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Completable_All_Checklist</targetReference>
        </connector>
        <inputReference>recordsCompletedChecklists</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>nochklst_Task_Detail_Completion</name>
        <label>Task Detail/Completion</label>
        <locationX>446</locationX>
        <locationY>854</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Count_Completed_Checklist_Items</targetReference>
        </connector>
        <fields>
            <name>nochklst_taskHeader</name>
            <extensionName>dhfpi:lwcFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>Get_Task.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>screenHelpText</name>
                <value>
                    <stringValue>View Details, Complete Checklist Items </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:task</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>nochklst_datetimeTask</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Start: &lt;b&gt;{!Get_Task.Krow__Start_Date__c}&lt;/b&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;b&gt;{!Get_Task.Krow__Start_Time__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Due: &lt;b&gt;{!Get_Task.Krow__Due_Date__c}&lt;/b&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;b&gt;{!Get_Task.Krow__End_Time__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Est Hours: {!Get_Task.Krow__Estimated_Hours__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>nochklst_assignee_list</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Assigned To:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!assignees_last_comma_gone}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>nochklst_task_description</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Description:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!Get_Task.Krow__Description__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Task.Krow__Description__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dtChecklists</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Krow__Task_Checklist__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Krow__Task_Checklist__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Checklist</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Incomplete Checklist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:task</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressNameFieldLink</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Krow__Description__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnIcons</name>
                <value>
                    <stringValue>Krow__Description__c:utility:multi_select_checkbox</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Krow__Description__c:Checklist Item</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Krow__Description__c:1000</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Krow__Description__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>countCompletedChecklists</assignToReference>
                <name>numberOfRowsSelected</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>singlerecordCompletedChecklist</assignToReference>
                <name>outputSelectedRow</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>recordsCompletedChecklists</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>stringCompletedChecklistIds</assignToReference>
                <name>outputSelectedRowsString</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Task.Incomplete_Checklist__c</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Task_Status_Update</name>
        <label>Task Status Update</label>
        <locationX>446</locationX>
        <locationY>1766</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Completable_Status_Update</targetReference>
        </connector>
        <fields>
            <name>Update_Task_Status_Completable</name>
            <choiceReferences>currentStatus</choiceReferences>
            <choiceReferences>statusNotStarted</choiceReferences>
            <choiceReferences>status_InProgress</choiceReferences>
            <choiceReferences>statusCompleted</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Update Task Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>taskcompletable</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Update_Task_Status_Incompletable</name>
            <choiceReferences>currentStatus</choiceReferences>
            <choiceReferences>statusNotStarted</choiceReferences>
            <choiceReferences>status_InProgress</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Update Task Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>taskcompletable</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Actual_Hours_Spent_on_Task</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Task.Actual_Hours__c</elementReference>
            </defaultValue>
            <fieldText>Actual Hours Spent on Task (15 mins = .25)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Task</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>assignees</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChecklistCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>completedChecklistCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countCompletedChecklists</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>debug_text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>firstcompl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inProgressDefault</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Task Id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordsChecklist</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Krow__Task_Checklist__c</objectType>
    </variables>
    <variables>
        <name>recordsCompletedChecklists</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Krow__Task_Checklist__c</objectType>
    </variables>
    <variables>
        <name>singlerecordCompletedChecklist</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Krow__Task_Checklist__c</objectType>
    </variables>
    <variables>
        <name>sourceUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stringCompletedChecklistIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskcompletable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>txtcollectionChkListIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtcollectionCompletedIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtCompledtedChecklist</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
