force-app/main/default/flows/Task_Checklist_Items_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Email_PM_0</name>
        <label>Email PM</label>
        <locationX>490</locationX>
        <locationY>3038</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>rwiley@thundernj.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>emailSubj</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_PM_0_0</name>
        <label>Email PM</label>
        <locationX>226</locationX>
        <locationY>3038</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>jstenson@thundernj.com,rwiley@thundernj.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>emailSubjMsg</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_to_List_of_Assignees</name>
        <label>Add to List of Assignees</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>assignees</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Each_Assignee.Krow__Project_Resource__r.Name}, </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_Assignee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_New_Record_Collection_toUpdate</name>
        <label>Add to New Record Collection</label>
        <locationX>490</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>toUpdateCompletedItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Multiple_Completed_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Multiple_Completed_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assComplete_Item</name>
        <label>Complete Item</label>
        <locationX>490</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>Loop_Multiple_Completed_Items.Is_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_New_Record_Collection_toUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Completable_Status</name>
        <label>Assign Completable Status</label>
        <locationX>226</locationX>
        <locationY>2462</locationY>
        <assignmentItems>
            <assignToReference>Get_Task.Krow__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Task_Status_Completable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>nochklst_assActual_Hours</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Incompletable_Status</name>
        <label>Assign Incompletable Status</label>
        <locationX>490</locationX>
        <locationY>2462</locationY>
        <assignmentItems>
            <assignToReference>Get_Task.Krow__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Task_Status_Incompletable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>nochklst_assActual_Hours</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_Complete</name>
        <label>Assign Single Complete</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>singleCompletedItem.Is_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Complete_Single_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>nochklst_assActual_Hours</name>
        <label>Actual Hours</label>
        <locationX>358</locationX>
        <locationY>2678</locationY>
        <assignmentItems>
            <assignToReference>Get_Task.Actual_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Actual_Hours_Spent_on_Task</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>nochklst_Update_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task_Is_Completable</name>
        <label>Task Is Completable</label>
        <locationX>226</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>taskcompletable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task_Status_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task_Is_Incompletable</name>
        <label>Task Is Incompletable</label>
        <locationX>490</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>taskcompletable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task_Status_Update</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>currentStatus</name>
        <choiceText>{!Get_Task.Krow__Status__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_Task.Krow__Status__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>navJob</name>
        <choiceText>Job</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_Task.Opportunity__r.Thunder_Road_Job_Record__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>navLead</name>
        <choiceText>Lead</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_Task.Lead__r.Id</elementReference>
        </value>
    </choices>
    <choices>
        <name>navMyTasks</name>
        <choiceText>My Tasks</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MyTasks</stringValue>
        </value>
    </choices>
    <choices>
        <name>navOppty</name>
        <choiceText>Opportunity</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_Task.Opportunity__r.Id</elementReference>
        </value>
    </choices>
    <choices>
        <name>navProj</name>
        <choiceText>This Project</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_Task.Krow__Project__r.Id</elementReference>
        </value>
    </choices>
    <choices>
        <name>navTask</name>
        <choiceText>This Task</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_Task.Id</elementReference>
        </value>
    </choices>
    <choices>
        <name>status_InProgress</name>
        <choiceText>In Progress</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Progress</stringValue>
        </value>
    </choices>
    <choices>
        <name>statusCompleted</name>
        <choiceText>Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <choices>
        <name>statusNotStarted</name>
        <choiceText>Not Started</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Started</stringValue>
        </value>
    </choices>
    <decisions>
        <name>All_Incomplete_Items_Completed</name>
        <label>All Incomplete Items Completed?</label>
        <locationX>358</locationX>
        <locationY>1886</locationY>
        <defaultConnector>
            <targetReference>Task_Is_Incompletable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>count_items_left_incomplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Task.Incomplete_Checklist_Items__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Is_Completable</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Completable_Status_Update</name>
        <label>Completable Status Update</label>
        <locationX>358</locationX>
        <locationY>2342</locationY>
        <defaultConnector>
            <targetReference>Assign_Incompletable_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Incompletable Status</defaultConnectorLabel>
        <rules>
            <name>Completable_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>taskcompletable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Completable_Status</targetReference>
            </connector>
            <label>Completable Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>Completed_Checklist_Items</name>
        <label>Completed Checklist Items</label>
        <locationX>358</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>All_Incomplete_Items_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Single</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countCompletedItems</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Single_Complete</targetReference>
            </connector>
            <label>Single</label>
        </rules>
        <rules>
            <name>Multiple</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countCompletedItems</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Multiple_Completed_Items</targetReference>
            </connector>
            <label>Multiple</label>
        </rules>
    </decisions>
    <decisions>
        <name>Message_Includes</name>
        <label>Message Includes</label>
        <locationX>358</locationX>
        <locationY>2918</locationY>
        <defaultConnector>
            <targetReference>Email_PM_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>msgYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Message_to_Project_Manager</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_PM_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>task_status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Krow__Status__c</picklistField>
        <picklistObject>Krow__Task__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>assignees_last_comma_gone</name>
        <dataType>String</dataType>
        <expression>LEFT( {!assignees}, LEN({!assignees}) - 2)</expression>
    </formulas>
    <formulas>
        <name>count_items_left_incomplete</name>
        <dataType>Number</dataType>
        <expression>{!Get_Task.Incomplete_Checklist_Items__c}-{!countCompletedItems}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>dateToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Task/Checklist Items Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task/Checklist Items Update</label>
    <loops>
        <name>Each_Assignee</name>
        <label>Each Assignee</label>
        <locationX>358</locationX>
        <locationY>638</locationY>
        <collectionReference>Task_Assignments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_List_of_Assignees</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>nochklst_Task_Detail_Completion</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Multiple_Completed_Items</name>
        <label>Loop Multiple Completed Items</label>
        <locationX>402</locationX>
        <locationY>1214</locationY>
        <collectionReference>recordsCompletedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assComplete_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Completed_Checklists_All_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Checklist</name>
        <label>Get Checklist</label>
        <locationX>358</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Checklist_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Krow__Krow_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Krow__Is_Completed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Krow__Task_Checklist__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Checklist_Items</name>
        <label>Get Checklist Items</label>
        <locationX>358</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_Assignments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Completed__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task_Checklist_Item__c</object>
        <sortField>Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task</name>
        <label>Get Task</label>
        <locationX>358</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Checklist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Krow__Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Task_Assignments</name>
        <label>Task Assignments</label>
        <locationX>358</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Each_Assignee</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Krow__Status__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Booked</stringValue>
            </value>
        </filters>
        <filters>
            <field>Krow__Status__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Soft Booked</stringValue>
            </value>
        </filters>
        <filters>
            <field>Krow__Krow_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Krow__Task_Assignment__c</object>
        <sortField>Krow__IsOwner__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Complete_Single_Item</name>
        <label>Complete Single Item</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <connector>
            <targetReference>All_Incomplete_Items_Completed</targetReference>
        </connector>
        <inputReference>singleCompletedItem</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>nochklst_Update_Task</name>
        <label>Update Task</label>
        <locationX>358</locationX>
        <locationY>2798</locationY>
        <connector>
            <targetReference>Message_Includes</targetReference>
        </connector>
        <inputReference>Get_Task</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Completed_Checklists_All_0</name>
        <label>Update Completed Checklists All</label>
        <locationX>402</locationX>
        <locationY>1670</locationY>
        <connector>
            <targetReference>All_Incomplete_Items_Completed</targetReference>
        </connector>
        <inputReference>toUpdateCompletedItems</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>nochklst_Task_Detail_Completion</name>
        <label>Task Detail/Completion</label>
        <locationX>358</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Completed_Checklist_Items</targetReference>
        </connector>
        <fields>
            <name>hdrTaskName</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;&lt;img src=&quot;https://thundernj--c.documentforce.com/sfc/servlet.shepherd/version/download/0681U00000I84Do?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt; {!Get_Task.Name}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>nochklst_datetimeTask</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Start: &lt;b&gt;{!Get_Task.Krow__Start_Date__c}&lt;/b&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;b&gt;{!Get_Task.Krow__Start_Time__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Due: &lt;b&gt;{!Get_Task.Krow__Due_Date__c}&lt;/b&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;b&gt;{!Get_Task.Krow__End_Time__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Est Hours: {!Get_Task.Krow__Estimated_Hours__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>nochklst_assignee_list</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Assigned To:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!assignees_last_comma_gone}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>nochklst_task_description</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Description:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!Get_Task.Krow__Description__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Task.Krow__Description__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dtChecklistItems</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Task_Checklist_Item__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Task_Checklist_Item__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Checklist_Items</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Incomplete Checklist Items (Select to Complete)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:task</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressNameFieldLink</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Description__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnIcons</name>
                <value>
                    <stringValue>Description__c:utility:multi_select_checkbox</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Description__c:867</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Description__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>not_tableBorder</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>countCompletedItems</assignToReference>
                <name>numberOfRowsSelected</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>singleCompletedItem</assignToReference>
                <name>outputSelectedRow</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>recordsCompletedItems</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Task.Incomplete_Checklist_Items__c</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Task_Status_Update</name>
        <label>Task Status Update</label>
        <locationX>358</locationX>
        <locationY>2222</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Completable_Status_Update</targetReference>
        </connector>
        <fields>
            <name>Update_Task_Status_Completable</name>
            <choiceReferences>currentStatus</choiceReferences>
            <choiceReferences>statusNotStarted</choiceReferences>
            <choiceReferences>status_InProgress</choiceReferences>
            <choiceReferences>statusCompleted</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Update Task Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>taskcompletable</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>msgIncompletable</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Task cannot be completed until All Checklist Items are completed.&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>taskcompletable</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Update_Task_Status_Incompletable</name>
            <choiceReferences>currentStatus</choiceReferences>
            <choiceReferences>statusNotStarted</choiceReferences>
            <choiceReferences>status_InProgress</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Update Task Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>taskcompletable</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>msgEstHours</name>
            <fieldText>&lt;p&gt;Estimated Hours: {!Get_Task.Actual_Hours__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>msgActHours</name>
            <fieldText>&lt;p&gt;Actual Hours Spent on Task So Far: {!Get_Task.Actual_Hours__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Actual_Hours_Spent_on_Task</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Task.Actual_Hours__c</elementReference>
            </defaultValue>
            <fieldText>Actual Hours Spent on Task (15 mins = .25)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Message_to_Project_Manager</name>
            <fieldText>Message to Project Manager</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Task</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>From: {!$User.Alias}
{!$User.Email}

Project: {!Get_Task.Krow__Project__r.Name}
https://thundernj.lightning.force.com/lightning/r/{!Get_Task.Krow__Project__r.Id}/view

Task: {!Get_Task.Name}
https://thundernj.lightning.force.com/lightning/r/Krow__Task__c/{!Get_Task.Id}/view

Status: {!Get_Task.Krow__Status__c}

Message:
{!Message_to_Project_Manager}</text>
    </textTemplates>
    <textTemplates>
        <name>emailSubj</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>TskUpd:{!Get_Task.ProjectName__c} | {!Get_Task.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>emailSubjMsg</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>MSGTskUpd:{!Get_Task.ProjectName__c} | {!Get_Task.Name}</text>
    </textTemplates>
    <variables>
        <name>assignees</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChecklistCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>completedChecklistCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countCompletedChecklists</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countCompletedItems</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countOriginalIncompleteItems</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>debug_text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>firstcompl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inProgressDefault</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Task Id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordsChecklist</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Krow__Task_Checklist__c</objectType>
    </variables>
    <variables>
        <name>recordsCompletedChecklists</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Krow__Task_Checklist__c</objectType>
    </variables>
    <variables>
        <name>recordsCompletedItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task_Checklist_Item__c</objectType>
    </variables>
    <variables>
        <name>singleCompletedItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task_Checklist_Item__c</objectType>
    </variables>
    <variables>
        <name>singlerecordCompletedChecklist</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Krow__Task_Checklist__c</objectType>
    </variables>
    <variables>
        <name>sourceUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stringCompletedChecklistIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskcompletable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>toUpdateCompletedItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task_Checklist_Item__c</objectType>
    </variables>
    <variables>
        <name>txtcollectionChkListIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtcollectionCompletedIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtCompledtedChecklist</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
