force-app/main/default/flows/Task_Job_Candidate_Phone_Interview.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Import_Task_Template</name>
        <label>Import Task Template</label>
        <locationX>351</locationX>
        <locationY>167</locationY>
        <actionName>Krow__CloneTemplateProjectAPI</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Change_Date</targetReference>
        </connector>
        <inputParameters>
            <name>New_Project_Name</name>
            <value>
                <elementReference>new_project_name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>New_Project_Id</name>
            <value>
                <elementReference>project_record_id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>taskTemplateProjectIds</name>
            <value>
                <elementReference>template_project_id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <interviewLabel>Task Job Candidate Phone Interview {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task Job Candidate Phone Interview</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Change_Date</name>
        <label>Change Date</label>
        <locationX>555</locationX>
        <locationY>76</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CloneSourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>template_project_id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Krow__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>project_record_id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Krow__Task_Due_Date__c</field>
            <value>
                <elementReference>due_date</elementReference>
            </value>
        </inputAssignments>
        <object>Krow__Task__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Import_Task_Template</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>due_date</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>job_candidate_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>new_project_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>project_record_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>template_project_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
