force-app/main/default/flows/Task_Checklist_Completion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Email_Update</name>
        <label>Email Update</label>
        <locationX>182</locationX>
        <locationY>1550</locationY>
        <actionName>Krow__Task__c.Send_Email_Task_Update</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Refresh_Task</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Refresh_Task</name>
        <label>Refresh Task Record Page</label>
        <locationX>182</locationX>
        <locationY>1670</locationY>
        <actionName>c:UpdateScreen</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Task.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_to_List_of_Assignees</name>
        <label>Add to List of Assignees</label>
        <locationX>270</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>assignees</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Each_Assignee.Krow__Project_Resource__r.Name}, </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_Assignee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Completable_Status</name>
        <label>Completable Status</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>Get_Task.Krow__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>completableStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>nochklst_Update_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Incompletable_Status</name>
        <label>Incompletable Status</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>Get_Task.Krow__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>incompletableStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>nochklst_Update_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>nochklst_assActual_Hours</name>
        <label>Actual Hours</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Get_Task.Krow__Total_Hours_Logged__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nochklst_Actual_Hours</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Completable_Task</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>status_InProgress</name>
        <choiceText>In Progress</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Progress</stringValue>
        </value>
    </choices>
    <choices>
        <name>statusCompleted</name>
        <choiceText>Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <choices>
        <name>statusNotStarted</name>
        <choiceText>Not Started</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Started</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Completable_Task</name>
        <label>Completable Task</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>Incompletable_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesCompleteable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordsChecklist</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Completable_Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>removed checklist</description>
    <dynamicChoiceSets>
        <name>task_status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Krow__Status__c</picklistField>
        <picklistObject>Krow__Task__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>assignees_last_comma_gone</name>
        <dataType>String</dataType>
        <expression>LEFT( {!assignees}, LEN({!assignees}) - 2)</expression>
    </formulas>
    <formulas>
        <name>dateToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Task &amp; Checklist Completion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task Update v2</label>
    <loops>
        <name>Each_Assignee</name>
        <label>Each Assignee</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <collectionReference>Task_Assignments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_List_of_Assignees</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>nochklst_Task_Detail_Completion</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Checklist</name>
        <label>Get Checklist</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_Assignments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Krow__Krow_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Krow__Is_Completed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Krow__Task_Checklist__c</object>
        <outputReference>recordsChecklist</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Task</name>
        <label>Get Task</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Checklist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Krow__Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Task_Assignments</name>
        <label>Task Assignments</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Each_Assignee</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Krow__Status__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Booked</stringValue>
            </value>
        </filters>
        <filters>
            <field>Krow__Status__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Soft Booked</stringValue>
            </value>
        </filters>
        <filters>
            <field>Krow__Krow_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Krow__Task_Assignment__c</object>
        <sortField>Krow__IsOwner__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>nochklst_Update_Task</name>
        <label>Update Task</label>
        <locationX>182</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Email_Update</targetReference>
        </connector>
        <inputReference>Get_Task</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>nochklst_Task_Detail_Completion</name>
        <label>Task Detail/Completion</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>nochklst_assActual_Hours</targetReference>
        </connector>
        <fields>
            <name>nochklst_taskHeader</name>
            <extensionName>dhfpi:lwcFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>Get_Task.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>screenHelpText</name>
                <value>
                    <stringValue>View Details, Complete Checklist Items </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:task</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>nochklst_datetimeTask</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Start: &lt;b&gt;{!Get_Task.Krow__Start_Date__c}&lt;/b&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;b&gt;{!Get_Task.Krow__Start_Time__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Due: &lt;b&gt;{!Get_Task.Krow__Due_Date__c}&lt;/b&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;b&gt;{!Get_Task.Krow__End_Time__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Est Hours: {!Get_Task.Krow__Estimated_Hours__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>nochklst_Actual_Hours</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Task.Krow__Total_Hours_Logged__c</elementReference>
            </defaultValue>
            <fieldText>Actual Hours (10mins = .16)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>nochklst_assignee_list</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Assigned To:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!assignees_last_comma_gone}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>nochklst_task_description</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Description:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!Get_Task.Krow__Description__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Task.Krow__Description__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>completableStatus</name>
            <choiceReferences>task_status</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Checklist</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>msgOpenChecklist</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(253, 0, 0);&quot;&gt;Can&apos;t Complete Tasks until Checklist Items are Complete&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Complete Checklist then Complete Task&lt;/p&gt;&lt;p&gt;Update the Status and Return Here&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Checklist</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>incompletableStatus</name>
            <choiceReferences>statusNotStarted</choiceReferences>
            <choiceReferences>status_InProgress</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status Update</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Checklist</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Task</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>assignees</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChecklistCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>completedChecklistCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>debug_text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>firstcompl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inProgressDefault</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Task Id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordsChecklist</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Krow__Task_Checklist__c</objectType>
    </variables>
    <variables>
        <name>sourceUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stringCompletedChecklistIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtcollectionChkListIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtcollectionCompletedIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtCompledtedChecklist</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userCompletedChecklist</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Krow__Task_Checklist__c</objectType>
    </variables>
</Flow>
