force-app/main/default/flows/temp_Create_Update_Site_Profile.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Update_SOW_from_Oppty</name>
        <label>Update SOW from Oppty</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>existingSiteProfile.Notes_for_SOW__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Projects.Opportunity__r.ScopeofWork__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Existing_Site_Profile</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Existing_Site_Profile</name>
        <label>Existing Site Profile</label>
        <locationX>396</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Create_Site_Profile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Site Profile</defaultConnectorLabel>
        <rules>
            <name>Site_Profile_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existingSiteProfile.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SOW_from_Oppty</targetReference>
            </connector>
            <label>Site Profile Exists</label>
        </rules>
    </decisions>
    <interviewLabel>temp Create/Update Site Profile {!$Flow.CurrentDateTime}</interviewLabel>
    <label>temp Create/Update Site Profile</label>
    <loops>
        <name>Loop_Projects</name>
        <label>Loop Projects</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>Get_Active_Projects</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Site_Profile</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Site_Profile</name>
        <label>Create Site Profile</label>
        <locationX>528</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Loop_Projects</targetReference>
        </connector>
        <inputAssignments>
            <field>Notes_for_SOW__c</field>
            <value>
                <elementReference>Loop_Projects.Opportunity__r.ScopeofWork__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>Loop_Projects.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Site_Profile__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Active_Projects</name>
        <label>Get Active Projects</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Projects</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Krow__Project_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RFP</stringValue>
            </value>
        </filters>
        <filters>
            <field>Krow__Project_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted RFP</stringValue>
            </value>
        </filters>
        <filters>
            <field>Krow__Project_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cold Submitted RFP</stringValue>
            </value>
        </filters>
        <filters>
            <field>Krow__Project_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unscheduled Job</stringValue>
            </value>
        </filters>
        <filters>
            <field>Krow__Project_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Job</stringValue>
            </value>
        </filters>
        <filters>
            <field>Krow__Project_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FinalBilling</stringValue>
            </value>
        </filters>
        <filters>
            <field>Krow__Project_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Krow__Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Site_Profile</name>
        <label>Get Site Profile</label>
        <locationX>396</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Site_Profile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Projects.Id</elementReference>
            </value>
        </filters>
        <object>Site_Profile__c</object>
        <outputReference>existingSiteProfile</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Notes_for_SOW__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Existing_Site_Profile</name>
        <label>Update Existing Site Profile</label>
        <locationX>264</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Loop_Projects</targetReference>
        </connector>
        <inputReference>existingSiteProfile</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Active_Projects</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>existingSiteProfile</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Site_Profile__c</objectType>
    </variables>
</Flow>
