force-app/main/default/flows/Update_all_Job_Status_and_Oppt_Stage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>Update all Job Status and Oppt Stage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update all Job Status and Oppt Stage</label>
    <loops>
        <name>Loop_Oppts</name>
        <label>Loop Oppts</label>
        <locationX>590</locationX>
        <locationY>228</locationY>
        <collectionReference>Get_all_Oppts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Job</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_Oppts</name>
        <label>Get all Oppts</label>
        <locationX>338</locationX>
        <locationY>214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Oppts</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Job</name>
        <label>Update Job</label>
        <locationX>1069</locationX>
        <locationY>307</locationY>
        <connector>
            <targetReference>Loop_Oppts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Oppts.Thunder_Road_Job_Record__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>Loop_Oppts.job_location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>Loop_Oppts.job_city__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Google_Map_Link__c</field>
            <value>
                <elementReference>Loop_Oppts.Google_Map_URL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Status__c</field>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Landmarks__c</field>
            <value>
                <elementReference>Loop_Oppts.Landmarks__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nearest_Cross_St__c</field>
            <value>
                <elementReference>Loop_Oppts.job_state__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Stage__c</field>
            <value>
                <elementReference>Loop_Oppts.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Slack_Channel__c</field>
            <value>
                <elementReference>Loop_Oppts.Slack_Channel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>Loop_Oppts.job_state__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zip_Code__c</field>
            <value>
                <elementReference>Loop_Oppts.job_zip__c</elementReference>
            </value>
        </inputAssignments>
        <object>Job__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>51</locationY>
    </start>
    <status>InvalidDraft</status>
</Flow>
